# 01 Data Wrangling Notebook

Work done
1. Import
2. Remove faulty rows (shifted, NaN for tweet_text). Data still >36.5mln tweets -- DONE
3. Filter out only arabic + undefined that is Arabic
4. Evaluate tweets vs retweets
5. How many unique tweets?
 - create relational table - unique tweets and all tweets (common index)
 - save as parquet instead of csv
 - strive to bring data down to something you can work with in pandas
6. Clean unique tweets
 - remove URLs
 - remove emoji
 - remove RT
 - remove

# About the Dataset

Data downloaded on February 26, 2021 from [the Information Operations page](https://transparency.twitter.com/en/reports/information-operations.html) of the Twitter Transparency Center

Notes about the dataset:
- What's Included? "Platform manipulation that we can reliably attribute to a government or state linked actor is considered an information operation and is prohibited by the Twitter Rules."
- "These datasets include profile information, Tweets and media (e.g., images and videos) from accounts we believe are connected to state linked information operations. Tweets and media which were deleted [by the user] are not included in the datasets."
- "For accounts with fewer than 5,000 followers, we have hashed certain identifying fields (such as user ID and screen name) in the publicly-available version of the datasets. While we’ve taken every possible precaution to ensure there are no false positives in these datasets, we’ve hashed these fields to reduce the potential negative impact on authentic or compromised accounts — while still enabling longitudinal research, network analysis, and assessment of the underlying content created by these accounts."


Twitter's [statement](https://twitter.com/TwitterSafety/status/1245682431975460864?s=20) about this particular dataset: 
- "A network of accounts associated with Saudi Arabia and operating out of multiple countries including KSA, Egypt and UAE, were amplifying content praising Saudi leadership, and critical of Qatar and Turkish activity in Yemen. A total of 5,350 accounts were removed."

## Working with DASK

### Behind the Scenes
Every Dask dataframe is composed of multiple pandas dataframes ("partitions")

- df.partitions[1].compute() gives you the 1st partition as a pandas dataframe

- df.map_partitions(len).compute() will map the passed function across all partitions

### Computing
To get dask to actually compute the value we want, we will have to call .compute() at the end.

- e.g. df.column.max().compute()

### Inferring Data Types
Dask infers the data types from the first few lines. This may mean that it encounters problems when it reads in the actual data during a computation. It may discover an entry at the end of a column that cannot be converted into the inferred datatype. That's why it's best to set datatypes on importing.

### Indexing

- See [this link](https://medium.com/analytics-vidhya/a-deep-dive-into-dask-dataframes-7455d66a5bc5#f3e9)
- What this means is that there is no common index spanning across the partitions. Each partition has its separate index.
- Luckily, we have a serial number column which we can use as the index. We will have to inform the dask dataframe to use it as the index. df_dd = df_dd.set_index('serial_no')
- Please note that this is a costly operation, and shouldn’t be done again and again. It involves a lot of communication, shuffling, and exchange of data between the partitions. However, a one-time effort is worth it, if you need to perform frequent index-based slicing

# Importing Libraries

In [2]:
import coiled
import dask
from dask import distributed
from dask.distributed import Client
import dask.dataframe as dd
import boto3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import emoji
import lxml

# Create Coiled Cluster

In [2]:
# create software environment with necessary libraries
coiled.create_software_environment(
    name="tensorflow", 
    conda="/Users/richard/Desktop/conda_env_configs/tensorflow.yml"
)

Updating software environment...
Solving conda environment...
Conda environment solved!
Building Docker image
(this takes a few minutes)
STEP 1: FROM coiled/default:sha-9aa53a2
STEP 2: COPY environment.yml environment.yml
--> ffa6aef8a51
STEP 3: RUN conda env update -n coiled -f environment.yml     && rm environment.yml     && conda clean --all -y     && echo "conda activate coiled" >> ~/.bashrc
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

Downloading and Extracting Packages
multidict-5.1.0      | 66 KB     | ########## | 100%
font-ttf-source-code | 654 KB    | ########## | 100%
async_generator-1.10 | 39 KB     | ########## | 100%
prometheus_client-0. | 45 KB     | ########## | 100%
mkl-service-2.3.0    | 52 KB     | ########## | 100%
ncurses-6.2          | 817 KB    | ########## | 100%
h5py-2.10.0          | 902 KB    | ########## | 100%
freetype-2.10.4      | 596 KB    | ########## | 100%
fonts-conda-forge-1  | 4 KB      | ########## | 100%
libpng-1.6.37        | 278 KB    | ########## | 100%
protobuf-3.11.4      | 636 KB    | ########## | 100%
packaging-20.9       | 37 KB     | ########## | 100%
jupyter_client-6.1.7 | 77 KB     | ########## | 100%
testpath-0.4.4       | 85 KB     | ########## | 100%
requests-2.25.1      | 52 KB     | ########## | 100%
libpq-12.3           | 2.6 MB    | ########## | 100%
glog-0.4.0           | 123 KB    | ########## | 100%
libgd-2.3.0          | 297 KB    | ########## | 100%
libsodium-1.0.18     | 244 KB    | ########## | 100%
re2-2019.08.01       | 456 KB    | ########## | 100%
gdk-pixbuf-2.42.4    | 610 KB    | ########## | 100%
parso-0.7.0          | 72 KB     | ########## | 100%
pyrsistent-0.17.3    | 89 KB     | ########## | 100%
thrift-compiler-0.13 | 10.9 MB   | ########## | 100%
argon2-cffi-20.1.0   | 46 KB     | ########## | 100%
atk-1.0-2.36.0       | 456 KB    | ########## | 100%
tbb-2020.3           | 1.1 MB    | ########## | 100%
pysocks-1.7.1        | 27 KB     | ########## | 100%
traitlets-5.0.5      | 81 KB     | ########## | 100%
jupyter_core-4.7.1   | 68 KB     | ########## | 100%
tensorflow-base-2.3. | 74.8 MB   | ########## | 100%
libgcc-ng-9.3.0      | 7.8 MB    | ########## | 100%
pyarrow-0.17.0       | 4.3 MB    | ########## | 100%
json5-0.9.5          | 22 KB     | ########## | 100%
requests-oauthlib-1. | 23 KB     | ########## | 100%
zeromq-4.3.4         | 331 KB    | ########## | 100%
locket-0.2.1         | 10 KB     | ########## | 100%
jinja2-2.11.3        | 101 KB    | ########## | 100%
aiobotocore-1.2.2    | 41 KB     | ########## | 100%
libevent-2.1.10      | 1.1 MB    | ########## | 100%
libxcb-1.14          | 505 KB    | ########## | 100%
openssl-1.1.1j       | 2.5 MB    | ########## | 100%
glib-2.68.0          | 442 KB    | ########## | 100%
send2trash-1.5.0     | 14 KB     | ########## | 100%
aws-sdk-cpp-1.7.164  | 1.8 MB    | ########## | 100%
ipython_genutils-0.2 | 27 KB     | ########## | 100%
pycparser-2.20       | 94 KB     | ########## | 100%
lz4-c-1.9.2          | 175 KB    | ########## | 100%
matplotlib-3.3.4     | 26 KB     | ########## | 100%
python_abi-3.7       | 4 KB      | ########## | 100%
cffi-1.14.5          | 224 KB    | ########## | 100%
termcolor-1.1.0      | 9 KB      | ########## | 100%
jedi-0.17.2          | 918 KB    | ########## | 100%
pyqt5-sip-4.19.18    | 310 KB    | ########## | 100%
font-ttf-dejavu-sans | 335 KB    | ########## | 100%
jsonschema-3.2.0     | 47 KB     | ########## | 100%
nss-3.63             | 2.1 MB    | ########## | 100%
werkzeug-1.0.1       | 239 KB    | ########## | 100%
libffi-3.3           | 50 KB     | ########## | 100%
nbconvert-6.0.7      | 484 KB    | ########## | 100%
anyio-2.2.0          | 119 KB    | ########## | 100%
yarl-1.6.3           | 133 KB    | ########## | 100%
pyjwt-1.7.1          | 33 KB     | ########## | 100%
jupyterlab-3.0.11    | 3.5 MB    | ########## | 100%
pandas-1.2.3         | 8.5 MB    | ########## | 100%
gstreamer-1.18.4     | 2.0 MB    | ########## | 100%
ninja-1.10.2         | 1.4 MB    | ########## | 100%
libuuid-1.0.3        | 15 KB     | ########## | 100%
xz-5.2.5             | 341 KB    | ########## | 100%
msgpack-python-1.0.2 | 81 KB     | ########## | 100%
pexpect-4.8.0        | 53 KB     | ########## | 100%
arrow-cpp-0.17.0     | 19.6 MB   | ########## | 100%
parquet-cpp-1.5.1    | 3 KB      | ########## | 100%
glib-tools-2.68.0    | 86 KB     | ########## | 100%
certifi-2020.12.5    | 141 KB    | ########## | 100%
setuptools-52.0.0    | 710 KB    | ########## | 100%
matplotlib-base-3.3. | 5.1 MB    | ########## | 100%
cairo-1.16.0         | 1.0 MB    | ########## | 100%
libtiff-4.2.0        | 502 KB    | ########## | 100%
snappy-1.1.8         | 40 KB     | ########## | 100%
markupsafe-1.1.1     | 26 KB     | ########## | 100%
coiled-0.0.37        | 46 KB     | ########## | 100%
libllvm11-11.1.0     | 29.1 MB   | ########## | 100%
libgomp-9.3.0        | 376 KB    | ########## | 100%
gettext-0.19.8.1     | 2.9 MB    | ########## | 100%
kiwisolver-1.3.1     | 80 KB     | ########## | 100%
libssh2-1.9.0        | 269 KB    | ########## | 100%
cachetools-4.2.1     | 13 KB     | ########## | 100%
mistune-0.8.4        | 54 KB     | ########## | 100%
blinker-1.4          | 23 KB     | ########## | 100%
libxslt-1.1.33       | 522 KB    | ########## | 100%
mkl_fft-1.3.0        | 167 KB    | ########## | 100%
async-timeout-3.0.1  | 13 KB     | ########## | 100%
bleach-3.3.0         | 113 KB    | ########## | 100%
pyopenssl-20.0.1     | 49 KB     | ########## | 100%
decorator-4.4.2      | 12 KB     | ########## | 100%
bokeh-2.3.0          | 5.8 MB    | ########## | 100%
hdf5-1.10.6          | 3.7 MB    | ########## | 100%
typing-extensions-3. | 12 KB     | ########## | 100%
pyqt-impl-5.12.3     | 5.9 MB    | ########## | 100%
pcre-8.44            | 212 KB    | ########## | 100%
bzip2-1.0.8          | 78 KB     | ########## | 100%
cryptography-3.4.6   | 908 KB    | ########## | 100%
entrypoints-0.3      | 12 KB     | ########## | 100%
ipython-7.21.0       | 978 KB    | ########## | 100%
libwebp-base-1.2.0   | 437 KB    | ########## | 100%
libtool-2.4.6        | 394 KB    | ########## | 100%
c-ares-1.17.1        | 108 KB    | ########## | 100%
nest-asyncio-1.5.1   | 10 KB     | ########## | 100%
dbus-1.13.18         | 504 KB    | ########## | 100%
tensorflow-estimator | 271 KB    | ########## | 100%
_tflow_select-2.3.0  | 3 KB      | ########## | 100%
giflib-5.2.1         | 78 KB     | ########## | 100%
pygments-2.8.1       | 703 KB    | ########## | 100%
librsvg-2.50.3       | 16.8 MB   | ########## | 100%
tensorflow-2.3.0     | 4 KB      | ########## | 100%
olefile-0.46         | 50 KB     | ########## | 100%
importlib-metadata-3 | 31 KB     | ########## | 100%
yaml-0.2.5           | 75 KB     | ########## | 100%
mkl-2020.2           | 138.3 MB  | ########## | 100%
readline-8.1         | 362 KB    | ########## | 100%
psutil-5.8.0         | 329 KB    | ########## | 100%
seaborn-0.11.1       | 212 KB    | ########## | 100%
absl-py-0.12.0       | 171 KB    | ########## | 100%
pyasn1-modules-0.2.8 | 72 KB     | ########## | 100%
graphite2-1.3.14     | 99 KB     | ########## | 100%
fastparquet-0.5.0    | 177 KB    | ########## | 100%
gflags-2.2.2         | 126 KB    | ########## | 100%
pyasn1-0.4.8         | 57 KB     | ########## | 100%
libprotobuf-3.11.4   | 2.9 MB    | ########## | 100%
krb5-1.17.1          | 1.3 MB    | ########## | 100%
pip-21.0.1           | 1.8 MB    | ########## | 100%
thrift-0.11.0        | 105 KB    | ########## | 100%
nbformat-5.1.2       | 68 KB     | ########## | 100%
boost-cpp-1.72.0     | 16.3 MB   | ########## | 100%
attrs-20.3.0         | 43 KB     | ########## | 100%
lcms2-2.11           | 307 KB    | ########## | 100%
mkl_random-1.1.1     | 322 KB    | ########## | 100%
zstd-1.4.5           | 619 KB    | ########## | 100%
chardet-3.0.4        | 175 KB    | ########## | 100%
fontconfig-2.13.1    | 250 KB    | ########## | 100%
pickleshare-0.7.5    | 13 KB     | ########## | 100%
pyyaml-5.4.1         | 168 KB    | ########## | 100%
nbclient-0.5.3       | 62 KB     | ########## | 100%

tensorboard-plugin-w | 630 KB    | ########## | 100%
jupyter_server-1.4.1 | 311 KB    | ########## | 100%
fsspec-0.8.3         | 72 KB     | ########## | 100%
google-pasta-0.2.0   | 46 KB     | ########## | 100%
backcall-0.2.0       | 13 KB     | ########## | 100%
cython-0.29.22       | 1.9 MB    | ########## | 100%
qt-5.12.9            | 99.5 MB   | ########## | 100%
rich-9.13.0          | 320 KB    | ########## | 100%
importlib_metadata-3 | 11 KB     | ########## | 100%
coverage-5.5         | 254 KB    | ########## | 100%
rsa-4.7.2            | 28 KB     | ########## | 100%
jupyterlab_server-2. | 37 KB     | ########## | 100%
tensorboard-2.4.0    | 8.8 MB    | ########## | 100%
grpc-cpp-1.28.1      | 4.0 MB    | ########## | 100%
emoji-1.0.1          | 74 KB     | ########## | 100%
aiohttp-3.7.4        | 536 KB    | ########## | 100%
abseil-cpp-20200225. | 864 KB    | ########## | 100%
brotli-1.0.9         | 375 KB    | ########## | 100%
cloudpickle-1.6.0    | 30 KB     | ########## | 100%
cycler-0.10.0        | 13 KB     | ########## | 100%
jupyter-packaging-0. | 14 KB     | ########## | 100%
brotlipy-0.7.0       | 320 KB    | ########## | 100%
gtk2-2.24.33         | 7.3 MB    | ########## | 100%
mysql-common-8.0.22  | 1.5 MB    | ########## | 100%
pyzmq-20.0.0         | 439 KB    | ########## | 100%
markdown-3.3.4       | 127 KB    | ########## | 100%
numpy-base-1.19.2    | 4.1 MB    | ########## | 100%
pandocfilters-1.4.3  | 14 KB     | ########## | 100%
fonts-conda-ecosyste | 4 KB      | ########## | 100%
wheel-0.36.2         | 33 KB     | ########## | 100%
python-dateutil-2.8. | 221 KB    | ########## | 100%
harfbuzz-2.8.0       | 1.9 MB    | ########## | 100%
heapdict-1.0.1       | 9 KB      | ########## | 100%
gobject-introspectio | 1.4 MB    | ########## | 100%
wrapt-1.12.1         | 49 KB     | ########## | 100%
prompt-toolkit-3.0.1 | 256 KB    | ########## | 100%
six-1.15.0           | 27 KB     | ########## | 100%
intel-openmp-2020.2  | 786 KB    | ########## | 100%
graphviz-2.47.0      | 5.3 MB    | ########## | 100%
jpeg-9d              | 264 KB    | ########## | 100%
commonmark-0.9.1     | 49 KB     | ########## | 100%
pyqtwebengine-5.12.1 | 175 KB    | ########## | 100%
jmespath-0.10.0      | 23 KB     | ########## | 100%
aioitertools-0.7.1   | 20 KB     | ########## | 100%
typing_extensions-3. | 28 KB     | ########## | 100%
babel-2.9.0          | 5.5 MB    | ########## | 100%
pyqt-5.12.3          | 21 KB     | ########## | 100%
webencodings-0.5.1   | 19 KB     | ########## | 100%
blas-1.0             | 6 KB      | ########## | 100%
future-0.18.2        | 631 KB    | ########## | 100%
terminado-0.9.3      | 25 KB     | ########## | 100%
sortedcontainers-2.3 | 26 KB     | ########## | 100%
pillow-8.1.2         | 624 KB    | ########## | 100%
toolz-0.11.1         | 46 KB     | ########## | 100%
ptyprocess-0.7.0     | 17 KB     | ########## | 100%
zict-2.0.0           | 10 KB     | ########## | 100%
libcurl-7.69.1       | 431 KB    | ########## | 100%
mysql-libs-8.0.22    | 1.7 MB    | ########## | 100%
idna-2.10            | 52 KB     | ########## | 100%
click-7.1.2          | 64 KB     | ########## | 100%
numpy-1.19.2         | 22 KB     | ########## | 100%
lxml-4.5.1           | 1.2 MB    | ########## | 100%
scipy-1.6.1          | 15.4 MB   | ########## | 100%
google-auth-1.28.0   | 72 KB     | ########## | 100%
libedit-3.1.20210216 | 167 KB    | ########## | 100%
zipp-3.4.1           | 15 KB     | ########## | 100%
astunparse-1.6.3     | 17 KB     | ########## | 100%
font-ttf-ubuntu-0.83 | 1.5 MB    | ########## | 100%
ld_impl_linux-64-2.3 | 568 KB    | ########## | 100%
colorama-0.4.4       | 21 KB     | ########## | 100%
pyqtchart-5.12       | 256 KB    | ########## | 100%
pyparsing-2.4.7      | 59 KB     | ########## | 100%
boto3-1.17.28        | 70 KB     | ########## | 100%
llvmlite-0.36.0      | 391 KB    | ########## | 100%
tblib-1.7.0          | 16 KB     | ########## | 100%
keras-preprocessing- | 35 KB     | ########## | 100%
google-auth-oauthlib | 18 KB     | ########## | 100%
oauthlib-3.1.0       | 91 KB     | ########## | 100%
opt_einsum-3.1.0     | 54 KB     | ########## | 100%
pango-1.42.4         | 533 KB    | ########## | 100%
libthrift-0.13.0     | 2.5 MB    | ########## | 100%
sqlite-3.35.2        | 983 KB    | ########## | 100%
s3transfer-0.3.6     | 53 KB     | ########## | 100%
sniffio-1.2.0        | 15 KB     | ########## | 100%
cytoolz-0.11.0       | 328 KB    | ########## | 100%
ipykernel-5.3.4      | 179 KB    | ########## | 100%
zlib-1.2.11          | 103 KB    | ########## | 100%
dask-2021.2.0        | 5 KB      | ########## | 100%
python-3.7.10        | 45.2 MB   | ########## | 100%
gast-0.3.3           | 14 KB     | ########## | 100%
pixman-0.40.0        | 370 KB    | ########## | 100%
tk-8.6.10            | 3.0 MB    | ########## | 100%
libxml2-2.9.10       | 1.3 MB    | ########## | 100%
distributed-2021.2.0 | 1.0 MB    | ########## | 100%
icu-68.1             | 11.8 MB   | ########## | 100%
s3fs-0.5.2           | 24 KB     | ########## | 100%
fribidi-1.0.10       | 103 KB    | ########## | 100%
dask-core-2021.2.0   | 643 KB    | ########## | 100%
curl-7.69.1          | 137 KB    | ########## | 100%
partd-1.1.0          | 20 KB     | ########## | 100%
_libgcc_mutex-0.1    | 3 KB      | ########## | 100%
wcwidth-0.2.5        | 29 KB     | ########## | 100%
urllib3-1.26.4       | 105 KB    | ########## | 100%
libclang-11.1.0      | 19.2 MB   | ########## | 100%
libiconv-1.16        | 1.4 MB    | ########## | 100%
pytz-2021.1          | 181 KB    | ########## | 100%
libstdcxx-ng-9.3.0   | 4.0 MB    | ########## | 100%
nspr-4.30            | 233 KB    | ########## | 100%
nbclassic-0.2.6      | 19 KB     | ########## | 100%
libllvm10-10.0.1     | 22.1 MB   | ########## | 100%
libglib-2.68.0       | 3.0 MB    | ########## | 100%
numba-0.53.0         | 3.3 MB    | ########## | 100%
defusedxml-0.7.1     | 23 KB     | ########## | 100%
expat-2.2.10         | 153 KB    | ########## | 100%
libxkbcommon-1.0.3   | 581 KB    | ########## | 100%
libwebp-1.2.0        | 493 KB    | ########## | 100%
ca-certificates-2021 | 118 KB    | ########## | 100%
jupyterlab_pygments- | 8 KB      | ########## | 100%
notebook-6.3.0       | 4.1 MB    | ########## | 100%
libgfortran-ng-7.3.0 | 1006 KB   | ########## | 100%
pandoc-2.12          | 9.5 MB    | ########## | 100%
gst-plugins-base-1.1 | 6.8 MB    | ########## | 100%
gts-0.7.6            | 411 KB    | ########## | 100%
thrift-cpp-0.13.0    | 14 KB     | ########## | 100%
botocore-1.20.33     | 3.6 MB    | ########## | 100%
grpcio-1.36.1        | 1.9 MB    | ########## | 100%
_openmp_mutex-4.5    | 22 KB     | ########## | 100%
font-ttf-inconsolata | 83 KB     | ########## | 100%
tornado-6.1          | 589 KB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working...

done
#
# To activate this environment, use
#
#     $ conda activate coiled
#
# To deactivate an active environment, use
#
#     $ conda deactivate

Cache location: /opt/conda/pkgs
Will remove the following tarballs:

/opt/conda/pkgs
---------------
multidict-5.1.0-py37h27cfd23_2.conda          66 KB
font-ttf-source-code-pro-2.030-h7457263_0.conda     654 KB
async_generator-1.10-py37h28b3542_0.conda      39 KB
prometheus_client-0.9.0-pyhd3eb1b0_0.conda      45 KB
mkl-service-2.3.0-py37he8ac12f_0.conda        52 KB
ncurses-6.2-he6710b0_1.conda                 817 KB
h5py-2.10.0-py37hd6299e0_1.conda             902 KB
freetype-2.10.4-h5ab3b9f_0.conda             596 KB
fonts-conda-forge-1-0.tar.bz2                  4 KB
libpng-1.6.37-hbc83047_0.conda               278 KB
protobuf-3.11.4-py37he6710b0_0.conda         636 KB
packaging-20.9-pyhd3eb1b0_0.conda             37 KB
jupyter_client-6.1.7-py_0.conda               77 KB
testpath-0.4.4-pyhd3eb1b0_0.tar.bz2           85 KB
requests-2.25.1-pyhd3eb1b0_0.conda            52 KB
libpq-12.3-h255efa7_3.tar.bz2                2.6 MB
glog-0.4.0-he6710b0_0.conda                  123 KB
libgd-2.3.0-h47910db_1.tar.bz2               297 KB
libsodium-1.0.18-h7b6447c_0.conda            244 KB
re2-2019.08.01-he6710b0_0.conda              456 KB
gdk-pixbuf-2.42.4-h04a7f16_2.tar.bz2         610 KB
parso-0.7.0-py_0.conda                        72 KB
pyrsistent-0.17.3-py37h7b6447c_0.conda        89 KB
thrift-compiler-0.13.0-hfb8234f_6.conda     10.9 MB
argon2-cffi-20.1.0-py37h27cfd23_1.conda       46 KB
atk-1.0-2.36.0-h28cd5cc_0.conda              456 KB
tbb-2020.3-hfd86e86_0.conda                  1.1 MB
pysocks-1.7.1-py37_1.conda                    27 KB
traitlets-5.0.5-pyhd3eb1b0_0.tar.bz2          81 KB
jupyter_core-4.7.1-py37h06a4308_0.conda       68 KB
tensorflow-base-2.3.0-eigen_py37h3b305d7_0.conda    74.8 MB
libgcc-ng-9.3.0-h2828fa1_18.tar.bz2          7.8 MB
pyarrow-0.17.0-py37h110162e_0.tar.bz2        4.3 MB
json5-0.9.5-py_0.conda                        22 KB
requests-oauthlib-1.3.0-py_0.conda            23 KB
zeromq-4.3.4-h2531618_0.conda                331 KB
locket-0.2.1-py37h06a4308_1.conda             10 KB
jinja2-2.11.3-pyhd3eb1b0_0.conda             101 KB
aiobotocore-1.2.2-pyhd3eb1b0_0.conda          41 KB
libevent-2.1.10-hcdb4288_3.tar.bz2           1.1 MB
libxcb-1.14-h7b6447c_0.conda                 505 KB
openssl-1.1.1j-h27cfd23_0.conda              2.5 MB
glib-2.68.0-h9c3ff4c_2.tar.bz2               442 KB
send2trash-1.5.0-pyhd3eb1b0_1.conda           14 KB
aws-sdk-cpp-1.7.164-hc831370_1.tar.bz2       1.8 MB
ipython_genutils-0.2.0-pyhd3eb1b0_1.conda      27 KB
pycparser-2.20-py_2.conda                     94 KB
lz4-c-1.9.2-heb0550a_3.conda                 175 KB
matplotlib-3.3.4-py37h06a4308_0.conda         26 KB
python_abi-3.7-1_cp37m.tar.bz2                 4 KB
cffi-1.14.5-py37h261ae71_0.conda             224 KB
termcolor-1.1.0-py37h06a4308_1.conda           9 KB
jedi-0.17.2-py37h06a4308_1.conda             918 KB
pyqt5-sip-4.19.18-py37hcd2ae1e_7.tar.bz2     310 KB
font-ttf-dejavu-sans-mono-2.37-h6964260_0.conda     335 KB
jsonschema-3.2.0-py_2.conda                   47 KB
nss-3.63-hb5efdd6_0.tar.bz2                  2.1 MB
werkzeug-1.0.1-pyhd3eb1b0_0.tar.bz2          239 KB
libffi-3.3-he6710b0_2.conda                   50 KB
nbconvert-6.0.7-py37_0.conda                 484 KB
anyio-2.2.0-py37h06a4308_0.conda             119 KB
yarl-1.6.3-py37h27cfd23_0.conda              133 KB
pyjwt-1.7.1-py37_0.conda                      33 KB
jupyterlab-3.0.11-pyhd3eb1b0_0.conda         3.5 MB
pandas-1.2.3-py37ha9443f7_0.conda            8.5 MB
gstreamer-1.18.4-h76c114f_0.tar.bz2          2.0 MB
ninja-1.10.2-py37hff7bd54_0.conda            1.4 MB
libuuid-1.0.3-h1bed415_2.conda                15 KB
xz-5.2.5-h7b6447c_0.conda                    341 KB
msgpack-python-1.0.2-py37hff7bd54_1.conda      81 KB
pexpect-4.8.0-pyhd3eb1b0_3.conda              53 KB
arrow-cpp-0.17.0-py37hc11a6a2_0.tar.bz2     19.6 MB
parquet-cpp-1.5.1-2.tar.bz2                    3 KB
glib-tools-2.68.0-h9c3ff4c_2.tar.bz2          86 KB
certifi-2020.12.5-py37h06a4308_0.conda       141 KB
setuptools-52.0.0-py37h06a4308_0.conda       710 KB
matplotlib-base-3.3.4-py37h62a2d02_0.conda     5.1 MB
cairo-1.16.0-hf32fb01_1.conda                1.0 MB
libtiff-4.2.0-h85742a9_0.conda               502 KB
snappy-1.1.8-he6710b0_0.conda                 40 KB
markupsafe-1.1.1-py37h14c3975_1.conda         26 KB
coiled-0.0.37-pyhd8ed1ab_0.tar.bz2            46 KB
libllvm11-11.1.0-hf817b99_0.tar.bz2         29.1 MB
libgomp-9.3.0-h2828fa1_18.tar.bz2            376 KB
gettext-0.19.8.1-h9b4dc7a_1.conda            2.9 MB
kiwisolver-1.3.1-py37h2531618_0.conda         80 KB
libssh2-1.9.0-h1ba5d50_1.conda               269 KB
cachetools-4.2.1-pyhd3eb1b0_0.conda           13 KB
mistune-0.8.4-py37h14c3975_1001.conda         54 KB
blinker-1.4-py37h06a4308_0.conda              23 KB
libxslt-1.1.33-h15afd5d_2.tar.bz2            522 KB
mkl_fft-1.3.0-py37h54f3939_0.conda           167 KB
async-timeout-3.0.1-py37h06a4308_0.conda      13 KB
bleach-3.3.0-pyhd3eb1b0_0.conda              113 KB
pyopenssl-20.0.1-pyhd3eb1b0_1.conda           49 KB
decorator-4.4.2-pyhd3eb1b0_0.tar.bz2          12 KB
bokeh-2.3.0-py37h06a4308_0.conda             5.8 MB
hdf5-1.10.6-hb1b8bf9_0.conda                 3.7 MB
typing-extensions-3.7.4.3-hd3eb1b0_0.conda      12 KB
pyqt-impl-5.12.3-py37he336c9b_7.tar.bz2      5.9 MB
pcre-8.44-he6710b0_0.conda                   212 KB
bzip2-1.0.8-h7b6447c_0.conda                  78 KB
cryptography-3.4.6-py37hd23ed53_0.conda      908 KB
entrypoints-0.3-py37_0.conda                  12 KB
ipython-7.21.0-py37hb070fc8_0.conda          978 KB
libwebp-base-1.2.0-h27cfd23_0.conda          437 KB
libtool-2.4.6-h7b6447c_1005.conda            394 KB
c-ares-1.17.1-h27cfd23_0.conda               108 KB
nest-asyncio-1.5.1-pyhd3eb1b0_0.conda         10 KB
dbus-1.13.18-hb2f20db_0.conda                504 KB
tensorflow-estimator-2.3.0-pyheb71bc4_0.conda     271 KB
_tflow_select-2.3.0-eigen.conda                3 KB
giflib-5.2.1-h7b6447c_0.conda                 78 KB
pygments-2.8.1-pyhd3eb1b0_0.conda            703 KB
librsvg-2.50.3-hfa39831_1.tar.bz2           16.8 MB
tensorflow-2.3.0-eigen_py37h189e6a2_0.conda       4 KB
olefile-0.46-py37_0.conda                     50 KB
importlib-metadata-3.7.3-py37h06a4308_1.conda      31 KB
yaml-0.2.5-h7b6447c_0.conda                   75 KB
mkl-2020.2-256.conda                       138.3 MB
readline-8.1-h27cfd23_0.conda                362 KB
psutil-5.8.0-py37h27cfd23_1.conda            329 KB
seaborn-0.11.1-pyhd3eb1b0_0.conda            212 KB
absl-py-0.12.0-py37h06a4308_0.conda          171 KB
pyasn1-modules-0.2.8-py_0.conda               72 KB
graphite2-1.3.14-h23475e2_0.conda             99 KB
fastparquet-0.5.0-py37h6323ea4_1.conda       177 KB
gflags-2.2.2-he6710b0_0.conda                126 KB
pyasn1-0.4.8-py_0.conda                       57 KB
libprotobuf-3.11.4-hd408876_0.conda          2.9 MB
krb5-1.17.1-h173b8e3_0.conda                 1.3 MB
pip-21.0.1-py37h06a4308_0.conda              1.8 MB
thrift-0.11.0-py37hf484d3e_0.conda           105 KB
nbformat-5.1.2-pyhd3eb1b0_1.conda             68 KB
boost-cpp-1.72.0-h9d3c048_4.tar.bz2         16.3 MB
attrs-20.3.0-pyhd3eb1b0_0.conda               43 KB
lcms2-2.11-h396b838_0.conda                  307 KB
mkl_random-1.1.1-py37h0573a6f_0.conda        322 KB
zstd-1.4.5-h9ceee32_0.conda                  619 KB
chardet-3.0.4-py37h06a4308_1003.conda        175 KB
fontconfig-2.13.1-h6c09931_0.conda           250 KB
pickleshare-0.7.5-pyhd3eb1b0_1003.conda       13 KB
pyyaml-5.4.1-py37h27cfd23_1.conda            168 KB
nbclient-0.5.3-pyhd3eb1b0_0.conda             62 KB
tensorboard-plugin-wit-1.6.0-py_0.conda      630 KB
jupyter_server-1.4.1-py37h06a4308_0.conda     311 KB
fsspec-0.8.3-py_0.conda                       72 KB
google-pasta-0.2.0-py_0.conda                 46 KB
backcall-0.2.0-pyhd3eb1b0_0.tar.bz2           13 KB
cython-0.29.22-py37h2531618_0.conda          1.9 MB
qt-5.12.9-h9d6b050_2.tar.bz2                99.5 MB
rich-9.13.0-py37h89c1867_1.tar.bz2           320 KB
importlib_metadata-3.7.3-hd3eb1b0_1.conda      11 KB
coverage-5.5-py37h27cfd23_2.conda            254 KB
rsa-4.7.2-pyhd3eb1b0_1.conda                  28 KB
jupyterlab_server-2.3.0-pyhd3eb1b0_0.conda      37 KB
tensorboard-2.4.0-pyhc547734_0.conda         8.8 MB
grpc-cpp-1.28.1-h8e748ff_2.tar.bz2           4.0 MB
emoji-1.0.1-pyhd8ed1ab_0.tar.bz2              74 KB
aiohttp-3.7.4-py37h27cfd23_1.conda           536 KB
abseil-cpp-20200225.2-h2531618_0.conda       864 KB
brotli-1.0.9-he6710b0_2.conda                375 KB
cloudpickle-1.6.0-py_0.conda                  30 KB
cycler-0.10.0-py37_0.conda                    13 KB
jupyter-packaging-0.7.12-pyhd3eb1b0_0.conda      14 KB
brotlipy-0.7.0-py37h27cfd23_1003.conda       320 KB
gtk2-2.24.33-hab0c2f8_0.tar.bz2              7.3 MB
mysql-common-8.0.22-ha770c72_1.tar.bz2       1.5 MB
pyzmq-20.0.0-py37h2531618_1.conda            439 KB
markdown-3.3.4-py37h06a4308_0.conda          127 KB
numpy-base-1.19.2-py37hfa32c7d_0.conda       4.1 MB
pandocfilters-1.4.3-py37h06a4308_1.conda      14 KB
fonts-conda-ecosystem-1-0.tar.bz2              4 KB
wheel-0.36.2-pyhd3eb1b0_0.conda               33 KB
python-dateutil-2.8.1-pyhd3eb1b0_0.tar.bz2     221 KB
harfbuzz-2.8.0-h83ec7ef_1.tar.bz2            1.9 MB
heapdict-1.0.1-py_0.conda                      9 KB
gobject-introspection-1.68.0-py37h2109141_1.conda     1.4 MB
wrapt-1.12.1-py37h7b6447c_1.conda             49 KB
prompt-toolkit-3.0.17-pyh06a4308_0.conda     256 KB
six-1.15.0-py37h06a4308_0.conda               27 KB
intel-openmp-2020.2-254.conda                786 KB
graphviz-2.47.0-h93c640b_0.tar.bz2           5.3 MB
jpeg-9d-h36c2ea0_0.tar.bz2                   264 KB
commonmark-0.9.1-py_0.conda                   49 KB
pyqtwebengine-5.12.1-py37he336c9b_7.tar.bz2     175 KB
jmespath-0.10.0-py_0.conda                    23 KB
aioitertools-0.7.1-pyhd3eb1b0_0.conda         20 KB
typing_extensions-3.7.4.3-pyh06a4308_0.conda      28 KB
babel-2.9.0-pyhd3eb1b0_0.conda               5.5 MB
pyqt-5.12.3-py37h89c1867_7.tar.bz2            21 KB
webencodings-0.5.1-py37_1.conda               19 KB
blas-1.0-mkl.conda                             6 KB
future-0.18.2-py37_1.conda                   631 KB
terminado-0.9.3-py37h06a4308_0.conda          25 KB
sortedcontainers-2.3.0-pyhd3eb1b0_0.conda      26 KB
pillow-8.1.2-py37he98fc37_0.conda            624 KB
toolz-0.11.1-pyhd3eb1b0_0.tar.bz2             46 KB
ptyprocess-0.7.0-pyhd3eb1b0_2.conda           17 KB
zict-2.0.0-pyhd3eb1b0_0.tar.bz2               10 KB
libcurl-7.69.1-h20c2e04_0.conda              431 KB
mysql-libs-8.0.22-h1fd7589_1.tar.bz2         1.7 MB
idna-2.10-pyhd3eb1b0_0.tar.bz2                52 KB
click-7.1.2-pyhd3eb1b0_0.tar.bz2              64 KB
numpy-1.19.2-py37h54aff64_0.conda             22 KB
lxml-4.5.1-py37hefd8a0e_0.conda              1.2 MB
scipy-1.6.1-py37h91f5cce_0.conda            15.4 MB
google-auth-1.28.0-pyhd3eb1b0_0.conda         72 KB
libedit-3.1.20210216-h27cfd23_1.conda        167 KB
zipp-3.4.1-pyhd3eb1b0_0.conda                 15 KB
astunparse-1.6.3-py_0.conda                   17 KB
font-ttf-ubuntu-0.83-h8b1ccd4_0.conda        1.5 MB
ld_impl_linux-64-2.33.1-h53a641e_7.conda     568 KB
colorama-0.4.4-pyhd3eb1b0_0.conda             21 KB
pyqtchart-5.12-py37he336c9b_7.tar.bz2        256 KB
pyparsing-2.4.7-pyhd3eb1b0_0.tar.bz2          59 KB
boto3-1.17.28-pyhd3eb1b0_0.conda              70 KB
llvmlite-0.36.0-py37h612dafd_4.conda         391 KB
tblib-1.7.0-py_0.conda                        16 KB
keras-preprocessing-1.1.2-pyhd3eb1b0_0.conda      35 KB
oauthlib-3.1.0-py_0.conda                     91 KB
google-auth-oauthlib-0.4.3-pyhd3eb1b0_0.conda      18 KB
opt_einsum-3.1.0-py_0.conda                   54 KB
pango-1.42.4-h69149e4_5.tar.bz2              533 KB
libthrift-0.13.0-hfb8234f_6.conda            2.5 MB
sqlite-3.35.2-hdfb4753_0.conda               983 KB
s3transfer-0.3.6-pyhd3eb1b0_0.conda           53 KB
sniffio-1.2.0-py37h06a4308_1.conda            15 KB
cytoolz-0.11.0-py37h7b6447c_0.conda          328 KB
ipykernel-5.3.4-py37h5ca1d4c_0.conda         179 KB
zlib-1.2.11-h7b6447c_3.conda                 103 KB
dask-2021.2.0-pyhd3eb1b0_0.conda               5 KB
python-3.7.10-hdb3f193_0.conda              45.2 MB
gast-0.3.3-py_0.conda                         14 KB
pixman-0.40.0-h7b6447c_0.conda               370 KB
tk-8.6.10-hbc83047_0.conda                   3.0 MB
libxml2-2.9.10-h72842e0_3.tar.bz2            1.3 MB
distributed-2021.2.0-py37h06a4308_0.conda     1.0 MB
icu-68.1-h2531618_0.conda                   11.8 MB
s3fs-0.5.2-pyhd3eb1b0_0.conda                 24 KB
fribidi-1.0.10-h7b6447c_0.conda              103 KB
dask-core-2021.2.0-pyhd3eb1b0_0.conda        643 KB
curl-7.69.1-hbc83047_0.conda                 137 KB
partd-1.1.0-py_0.conda                        20 KB

Removed s3fs-0.5.2-pyhd3eb1b0_0.conda
Removed fribidi-1.0.10-h7b6447c_0.conda
Removed dask-core-2021.2.0-pyhd3eb1b0_0.conda
Removed curl-7.69.1-hbc83047_0.conda
Removed partd-1.1.0-py_0.conda
Removed _libgcc_mutex-0.1-conda_forge.tar.bz2
Removed wcwidth-0.2.5-py_0.conda
Removed urllib3-1.26.4-pyhd3eb1b0_0.conda
Removed libclang-11.1.0-default_ha53f305_0.tar.bz2
Removed libiconv-1.16-h516909a_0.tar.bz2
Removed pytz-2021.1-pyhd3eb1b0_0.conda
Removed libstdcxx-ng-9.3.0-h6de172a_18.tar.bz2
Removed nspr-4.30-h9c3ff4c_0.tar.bz2
Removed nbclassic-0.2.6-pyhd3eb1b0_0.conda
Removed libllvm10-10.0.1-hbcb73fb_5.conda
Removed libglib-2.68.0-h3e27bee_2.tar.bz2
Removed numba-0.53.0-py37ha9443f7_0.conda
Removed defusedxml-0.7.1-pyhd3eb1b0_0.conda
Removed expat-2.2.10-he6710b0_2.conda
Removed libxkbcommon-1.0.3-he3ba5ed_0.tar.bz2
Removed libwebp-1.2.0-h89dd481_0.conda
Removed ca-certificates-2021.1.19-h06a4308_1.conda
Removed jupyterlab_pygments-0.1.2-py_0.conda
Removed notebook-6.3.0-py37h06a4308_0.conda
Removed libgfortran-ng-7.3.0-hdf63c60_0.conda
Removed pandoc-2.12-h06a4308_0.conda
Removed gst-plugins-base-1.14.5-h0935bb2_2.tar.bz2
Removed gts-0.7.6-h64030ff_2.tar.bz2
Removed thrift-cpp-0.13.0-h06a4308_6.conda
Removed botocore-1.20.33-pyhd3eb1b0_1.conda
Removed grpcio-1.36.1-py37h2157cd5_1.conda
Removed _openmp_mutex-4.5-1_gnu.tar.bz2
Removed font-ttf-inconsolata-2.001-hcb22688_0.conda
Removed tornado-6.1-py37h27cfd23_0.conda
WARNING: /root/.conda/pkgs does not exist
Cache location: /opt/conda/pkgs
Will remove the following packages:
/opt/conda/pkgs
---------------

fonts-conda-forge-1-0                         11 KB
matplotlib-3.3.4-py37h06a4308_0               92 KB
python_abi-3.7-1_cp37m                        10 KB
parquet-cpp-1.5.1-2                            8 KB
typing-extensions-3.7.4.3-hd3eb1b0_0          37 KB
libwebp-base-1.2.0-h27cfd23_0                2.8 MB
_tflow_select-2.3.0-eigen                      5 KB
tensorflow-2.3.0-eigen_py37h189e6a2_0         10 KB
importlib_metadata-3.7.3-hd3eb1b0_1           38 KB
fonts-conda-ecosystem-1-0                      9 KB
pyqt-5.12.3-py37h89c1867_7                    79 KB
blas-1.0-mkl                                  15 KB
mysql-libs-8.0.22-h1fd7589_1                 7.0 MB
numpy-1.19.2-py37h54aff64_0                   68 KB
dask-2021.2.0-pyhd3eb1b0_0                    12 KB
_libgcc_mutex-0.1-conda_forge                  6 KB
thrift-cpp-0.13.0-h06a4308_6                  40 KB
_openmp_mutex-4.5-1_gnu                       93 KB

---------------------------------------------------
Total:                                      10.4 MB

removing fonts-conda-forge-1-0
removing matplotlib-3.3.4-py37h06a4308_0
removing python_abi-3.7-1_cp37m
removing parquet-cpp-1.5.1-2
removing typing-extensions-3.7.4.3-hd3eb1b0_0
removing libwebp-base-1.2.0-h27cfd23_0
removing _tflow_select-2.3.0-eigen
removing tensorflow-2.3.0-eigen_py37h189e6a2_0
removing importlib_metadata-3.7.3-hd3eb1b0_1
removing fonts-conda-ecosystem-1-0
removing pyqt-5.12.3-py37h89c1867_7
removing blas-1.0-mkl
removing mysql-libs-8.0.22-h1fd7589_1
removing numpy-1.19.2-py37h54aff64_0
removing dask-2021.2.0-pyhd3eb1b0_0
removing _libgcc_mutex-0.1-conda_forge
removing thrift-cpp-0.13.0-h06a4308_6
removing _openmp_mutex-4.5-1_gnu
--> 77da123b55f
STEP 4: ENV PATH /opt/conda/envs/coiled/bin:$PATH
--> e4500ceb8c0
STEP 5: SHELL ["conda", "run", "-n", "coiled", "/bin/bash", "-c"]
STEP 6: COMMIT 34962831-2075-44c5-ae46-3d65c828a82d
--> dcde326241f
dcde326241fc510e127c5172981bca2abf1dec91875072e99de870cd302ff477
Docker build succeeded: 34962831-2075-44c5-ae46-3d65c828a82d
Uploading image
Getting image source signatures
Copying blob sha256:ce6d702630b37545e3b1cec8a6627f905f8d39596c25a77c267c2bce8b20d8ce
Copying blob sha256:73571478965aec06a47d046298c659c0829276bb627684ad4dcb56547f09b619
Copying blob sha256:f5600c6330da7bb112776ba067a32a9c20842d6ecc8ee3289f1a713b644092f8
Copying blob sha256:dfef8986f350d2efb7dd633410dceac30543be620085d9819f42db7067f55f64
Copying blob sha256:0553ab4c463e8dd22931a5deb37e8014a18cde60d6be1337f4415de56649a947
Copying blob sha256:a588771f02959cc28fb5a4766d35763261f857d110a062234b2bd589ed44e1aa
Copying config sha256:dcde326241fc510e127c5172981bca2abf1dec91875072e99de870cd302ff477
Writing manifest to image destination
Storing signatures
Finished updating environment

In [ ]:
# create cluster configuration
coiled.create_cluster_configuration(
    name="cluster-tensorflow-s2_8-w4_16",
    scheduler_cpu=2,
    scheduler_memory="8 GiB",
    worker_cpu=4,
    worker_memory="16 GiB",
    software="tensorflow",
)

In [3]:
%%time
# create coiled cluster
cluster = coiled.Cluster(
    name='tweets_50',
    shutdown_on_close=False,
    configuration="cluster-tensorflow-s2_8-w4_16",
    n_workers=50,
    scheduler_options={"idle_timeout": "2 hours"}
)

/Users/richard/miniconda3/envs/tensorflow/lib/python3.7/site-packages/rich/live.py:216: UserWarning: install "ipywidgets" for Jupyter support
  warnings.warn('install "ipywidgets" for Jupyter support')

Checking environment images
Valid environment image found

CPU times: user 2.22 s, sys: 817 ms, total: 3.03 s
Wall time: 3min 19s

In [2]:
# # connect to running cluster
# cluster = coiled.Cluster(name='tweets_50')

/Users/richard/miniconda3/envs/tensorflow/lib/python3.7/site-packages/rich/live.py:216: UserWarning: install "ipywidgets" for Jupyter support
  warnings.warn('install "ipywidgets" for Jupyter support')

In [4]:
# connect cluster to Dask
client = Client(cluster)
print('Dashboard:', client.dashboard_link)

Dashboard: http://ec2-18-216-189-49.us-east-2.compute.amazonaws.com:8787

# Accessing S3 Bucket

In [ ]:
# Let's use Amazon S3
s3 = boto3.resource('s3')

In [ ]:
# Print out bucket names
for bucket in s3.buckets.all():
    print(bucket.name)

**NOTE:** You could also connect to .client() instead of .resource()

Clients are lower-level APIs which may give some minor improvement in performance but are 'grittier' and harder to read. Most outputs will be dictionary-format which you will then have to process further yourself.

Resources are higher-level, object-oriented abstractions. More user-friendly.

Helpful [link](https://realpython.com/python-boto3-aws-s3/) : "With clients, there is more programmatic work to be done. The majority of the client operations give you a dictionary response. To get the exact information that you need, you’ll have to parse that dictionary yourself. With resource methods, the SDK does that work for you.

With the client, you might see some slight performance improvements. The disadvantage is that your code becomes less readable than it would be if you were using the resource. Resources offer a better abstraction, and your code will be easier to comprehend."

## Reading in Arabic Twitter Data

We are reading in only columns:

- 'tweetid'
- 'userid'
- 'user_screen_name'
- 'follower_count', 
- 'following_count',
- 'tweet_language',
- 'tweet_text'
- 'tweet_time', 
- 'tweet_client_name', 
- 'in_reply_to_userid',
- 'in_reply_to_tweetid', 
- 'quoted_tweet_tweetid', 
- 'is_retweet',
- 'retweet_userid', 
- 'retweet_tweetid',

In [ ]:
# client.restart()

# Import Raw Data

In [5]:
# NOTE: IMPORT WITH BLOCKSIZE=64MiB

# read s3 data into dask dataframe
ddf = dd.read_csv(
    "s3://twitter-saudi-us-east-2/sa_eg_ae_022020_tweets_csv_hashed_*.csv",
    blocksize="64MiB",
    usecols=[
        'tweetid',
        'userid',
        'user_screen_name',
        'follower_count', 
        'following_count',
        'tweet_language',
        'tweet_text',
        'tweet_time', 
        'tweet_client_name', 
        'is_retweet',
        'retweet_userid',
        'retweet_tweetid'],
    engine='python',
    error_bad_lines=False,
    na_values='None',
    dtype={
        "tweetid": "object",
        "userid": "object",
        "user_screen_name": "object",
        "follower_count": "object",
        "following_count": "object",
        "tweet_language": "object",
        "tweet_text": "object",
        "tweet_time": "object",
        "tweet_client_name": "object",
        "is_retweet": "object",
        "retweet_userid": "object",
        "retweet_tweetid": "object"
    }
).persist()

Skipping line 410: unexpected end of data

In [6]:
ddf

Dask DataFrame Structure:
                tweetid  userid user_screen_name follower_count following_count tweet_language tweet_text tweet_time tweet_client_name is_retweet retweet_userid retweet_tweetid
npartitions=369
                 object  object           object         object          object         object     object     object            object     object         object          object
                    ...     ...              ...            ...             ...            ...        ...        ...               ...        ...            ...             ...
...                 ...     ...              ...            ...             ...            ...        ...        ...               ...        ...            ...             ...
                    ...     ...              ...            ...             ...            ...        ...        ...               ...        ...            ...             ...
                    ...     ...              ...            ...             ...            ...        ...        ...               ...        ...            ...             ...
Dask Name: read-csv, 369 tasks

In [7]:
n_rows_all = ddf.shape[0].compute()
n_rows_all

36524387

We have more than 36.5 million tweets.

No biggie.
    
We had some trouble setting the data types. This is probably because of NaNs and/or faulty rows. Let's investigate that first.

Let's proceed to have a look at:
- number of NaNs in tweet_text, user_id
- faulty entries in tweet_text


Then move on to looking at:
- percentage of tweets in arabic: >95%
- number of unique users: 
- histogram of number of tweets per user
- average number of tweets per user
- histogram of follower_count per user
- average follower_count per user

## Start by Creating Index

In [8]:
%%time
# set index to tweetid
ddf = ddf.set_index('tweetid', drop=True).persist()

CPU times: user 3.35 s, sys: 307 ms, total: 3.66 s
Wall time: 8.48 s

## Inspecting Tweet_Text Column to Remove Faulty Entries

In [9]:
df_temp = ddf.partitions[9].compute()

In [10]:
df_temp

,userid,user_screen_name,follower_count,following_count,tweet_language,tweet_text,tweet_time,tweet_client_name,is_retweet,retweet_userid,retweet_tweetid
tweetid,,,,,,,,,,,
1040243117105065984,993642585892818944,rahil_76,12576,12682,ar,RT @alasirihoney_: 1_اقسم بالله انه عسل سدر طب...,2018-09-13 14:17,Twitter for Android,true,NaN,1040088191351640065
1040243122406678534,993642585892818944,rahil_76,12576,12682,ar,RT @alasirihoney_: 1_عسل ابيض مجرى | بلدي طبيع...,2018-09-13 14:17,Twitter for Android,true,NaN,1040087978578722816
1040243124407291904,993642585892818944,rahil_76,12576,12682,ar,RT @alasirihoney_: 1_عسل سدر عسل طبيعي عسل ابو...,2018-09-13 14:17,Twitter for Android,true,NaN,1040087959792504832
1040243161019412480,993642585892818944,rahil_76,12576,12682,ar,RT @dddhhh284: #خزنات # حمامات # مسابح \nحل ار...,2018-09-13 14:17,Twitter for Android,true,NaN,1039887208356958208
1040243165003956224,993642585892818944,rahil_76,12576,12682,ar,RT @dddhhh284: #خزنات # حمامات # مسابح \nحل ار...,2018-09-13 14:17,Twitter for Android,true,NaN,1039886180030898176
...,...,...,...,...,...,...,...,...,...,...,...
1044651472749826048,448366650,hassin1937,30529,7265,ar,RT @mom999900: لاعدمتك ياهناء قلبي وخله💚ياللي ...,2018-09-25 18:14,Twitter for iPhone,true,NaN,1044622714944794624
1044651483885637632,448366650,hassin1937,30529,7265,ar,RT @do__x: •\n\n.\n.\nأحياناً . .\nيتوّجب عليك...,2018-09-25 18:14,Twitter for iPhone,true,NaN,1044629681792782339
1044651498024591361,rJ9LKF5+KW7TRiUemWEc2o7f2Yir2yMc+oxuoHToyR0=,rJ9LKF5+KW7TRiUemWEc2o7f2Yir2yMc+oxuoHToyR0=,616,1668,ar,دونالد #ترامب رئيس #الولايات_المتحدة الأمريكية...,2018-09-25 18:15,TweetDeck,false,NaN,NaN
1044651498259402753,raSzN6PrYMCSDxoqTBRxJ6+gadIVulhn0NA0dn10A=,raSzN6PrYMCSDxoqTBRxJ6+gadIVulhn0NA0dn10A=,800,359,ar,دونالد #ترامب رئيس #الولايات_المتحدة الأمريكية...,2018-09-25 18:15,TweetDeck,false,NaN,NaN
1044651499496886272,448366650,hassin1937,30529,7265,ar,RT @KhalidNahas: #حروف_ثمينه\n\nالسماء غطاء لل...,2018-09-25 18:15,Twitter for iPhone,true,NaN,1044528133548978176

In [11]:
# df_numeric = ddf[ddf.tweet_text.str.isnumeric()].compute()
# df_numeric

The tweet_text column contains faulty entries that are:
- only digits (shifted rows due to faulty import)
- NaNs

Let's first remove NaNs so that we can then proceed to look at the digit entries.

## Drop NaNs from ddf

In [12]:
# drop rows for which tweet_text is NaN
ddf = ddf.dropna(subset=['tweet_text']).persist()

In [13]:
%%time
ddf.shape[0].compute()

CPU times: user 96.5 ms, sys: 6.88 ms, total: 103 ms
Wall time: 1.55 s

36523971

In [14]:
n_rows_all - 36523971

416

Dropping the rows with NaN in tweet_text still leaves us with >36.5mln tweets. We have dropped 416 rows.

Now let's see how many rows there are with digits in tweet_text. These rows are faulty imports; their contents have been shifted across columns, i.e. tweetid contains tweet_text etc.

In [15]:
# subset ddf to get the number of entries for which tweet_text is entirely numeric
df_numeric = ddf[ddf.tweet_text.str.isnumeric()].compute()
df_numeric.shape[0]

373

In [16]:
df_numeric.sample(5)

,userid,user_screen_name,follower_count,following_count,tweet_language,tweet_text,tweet_time,tweet_client_name,is_retweet,retweet_userid,retweet_tweetid
tweetid,,,,,,,,,,,
"#…""",2019-01-20 03:47,NaN,NaN,1086730661875060737,0,0,0,0,NaN,None,None
"#بووح_…""",2018-12-09 11:27,NaN,NaN,1071473849517129728,0,0,0,0,NaN,None,None
1080640664742887424,N7vyR3Dc33h4hsFz7AN8UsMWS9KFrO6+xwoaY2PCEnE=,N7vyR3Dc33h4hsFz7AN8UsMWS9KFrO6+xwoaY2PCEnE=,77,663,und,٨,2019-01-03 01:43,Twitter for iPhone,false,NaN,NaN
502595805753397249,uF9U9xjM3+rT7yCU04ZhsMfeoAqCxeF52huvy04nBqw=,uF9U9xjM3+rT7yCU04ZhsMfeoAqCxeF52huvy04nBqw=,164,219,und,42,2014-08-21 23:19,TweetDeck,false,NaN,NaN
"لعله بعد ذلك؛ تنفع الناس، ويرتفع…""",2016-12-23 21:53,NaN,NaN,812370148120203265,0,0,0,0,NaN,None,None

373 - although this includes some tweets that are not shifted, but are just tweets of numbers. But we can remove all of those, they're not going to be very informative anyway.

Dask does not support dropping rows.

Instead, let's select the inverse of the rows_to_drop by negating the .str.isnumeric() call below.

In [17]:
# get all rows that are NOT all numeric
ddf = ddf[~ddf.tweet_text.str.isnumeric()].persist()

In [18]:
ddf.shape[0].compute()

36523598

In [19]:
n_rows_all - 36523598

789

After removing tweets with all numeric entries in tweet_text we have removed 789 tweets in total (i.e. including the NaNs removed above). 

Let's make sure we have removed all the instances where userid contains the date (i.e. shifted columns).

In [20]:
# define function to pass to map_partitions
def get_faulty_ids(df):
    df_all = pd.DataFrame()
    df_faulty = df[df.userid.str.startswith('201')]
    df_all = df_all.append(df_faulty)
    return df_all

In [21]:
%%time
# pass faulty_ids function to each partition
df_faultyrows = ddf.map_partitions(get_faulty_ids).compute()
df_faultyrows

CPU times: user 510 ms, sys: 22.5 ms, total: 533 ms
Wall time: 2.18 s

Empty DataFrame
Columns: [userid, user_screen_name, follower_count, following_count, tweet_language, tweet_text, tweet_time, tweet_client_name, is_retweet, retweet_userid, retweet_tweetid]
Index: []

Yes, we have removed al entries for which the userid was a date.

Let's see if we can now convert our columns to the right datatypes. That should gives us confidence that all our rows contain the right entries and we have no more faulty imports / shifted rows.

In [22]:
ddf.columns

Index(['userid', 'user_screen_name', 'follower_count', 'following_count',
       'tweet_language', 'tweet_text', 'tweet_time', 'tweet_client_name',
       'is_retweet', 'retweet_userid', 'retweet_tweetid'],
      dtype='object')

### Inspecting is_retweet Column

In [23]:
is_retweet = ddf.is_retweet.persist()

In [24]:
is_retweet.value_counts().compute()

true     33107687
false     3415910
[]              1
Name: is_retweet, dtype: int64

There's one NaN or empty value. Let's check that out.

In [25]:
ddf[ddf.is_retweet == "[]"].compute()

,userid,user_screen_name,follower_count,following_count,tweet_language,tweet_text,tweet_time,tweet_client_name,is_retweet,retweet_userid,retweet_tweetid
tweetid,,,,,,,,,,,
اسبيلت,اسبيلت,2019-07-11 09:23,NaN,true,absent,absent,0,0,[],['3069869876'],NaN

This is a shifted row too, let's drop it.

In [26]:
ddf = ddf[ddf.is_retweet != "[]"].persist()

In [27]:
ddf.shape[0].compute()

36523597

In [28]:
n_rows_all - 36523597

790

We've now dropped one more row, totalling 790 rows dropped.

Let's now convert this column to boolean.

In [29]:
# create dictionary to map strings to booleans
mapping = {'true': True, 'false': False}

In [30]:
ddf.is_retweet = ddf.is_retweet.map(mapping).persist()

In [31]:
ddf.is_retweet.value_counts().compute()

True     33107687
False     3415910
Name: is_retweet, dtype: int64

In [32]:
# cast column to boolean data type
ddf.is_retweet = ddf.is_retweet.astype(bool).persist()

In [33]:
# verify
ddf.is_retweet.value_counts().compute()

True     33107687
False     3415910
Name: is_retweet, dtype: int64

In [34]:
ddf.dtypes

userid               object
user_screen_name     object
follower_count       object
following_count      object
tweet_language       object
tweet_text           object
tweet_time           object
tweet_client_name    object
is_retweet             bool
retweet_userid       object
retweet_tweetid      object
dtype: object

### Inspecting Following and Follower Columns
Let's have a look at the following_count and follower_count columns.

We'll look at:
- number of non-numeric entries
- number of NaNs
- any strange one-time occurrences that don't belong?

In [35]:
# get rows with following_count is non-numeric
faulty_following = ddf[~ddf.following_count.str.isnumeric()].compute()

In [36]:
faulty_following

Empty DataFrame
Columns: [userid, user_screen_name, follower_count, following_count, tweet_language, tweet_text, tweet_time, tweet_client_name, is_retweet, retweet_userid, retweet_tweetid]
Index: []

In [37]:
# get rows with NaNs
following_NaN = ddf[ddf.following_count.isnull()].compute()

In [38]:
following_NaN

Empty DataFrame
Columns: [userid, user_screen_name, follower_count, following_count, tweet_language, tweet_text, tweet_time, tweet_client_name, is_retweet, retweet_userid, retweet_tweetid]
Index: []

In [39]:
# get value counts
following_value_counts = ddf.following_count.value_counts()

In [40]:
# check tail to spot any strange one-time occurrences
following_value_counts.tail(10)

726     5
480     5
304     4
183     2
812     2
239     2
384     1
1113    1
173     1
851     1
Name: following_count, dtype: int64

No issues here.

Let's look at follower_count:

In [41]:
# get rows with follower_count is non-numeric
faulty_follower = ddf[~ddf.follower_count.str.isnumeric()].compute()

In [42]:
faulty_follower

Empty DataFrame
Columns: [userid, user_screen_name, follower_count, following_count, tweet_language, tweet_text, tweet_time, tweet_client_name, is_retweet, retweet_userid, retweet_tweetid]
Index: []

In [43]:
# get rows with NaNs
follower_NaN = ddf[ddf.follower_count.isnull()].compute()

In [44]:
follower_NaN

Empty DataFrame
Columns: [userid, user_screen_name, follower_count, following_count, tweet_language, tweet_text, tweet_time, tweet_client_name, is_retweet, retweet_userid, retweet_tweetid]
Index: []

In [45]:
# get value counts
follower_value_counts = ddf.follower_count.value_counts()

In [46]:
# check tail to spot any strange one-time occurrences
follower_value_counts.tail(10)

7988     29
1353     28
1607     28
3790     25
2196     24
1465     24
1210     22
23195    22
821      14
3731     10
Name: follower_count, dtype: int64

No issues here either.

This means we should be able to cast these columns to int64 data type.

In [47]:
# cast columns to integer dtypes
ddf.following_count = ddf.following_count.astype('int64').persist()
ddf.follower_count = ddf.follower_count.astype('int64').persist()

In [48]:
ddf.dtypes

userid               object
user_screen_name     object
follower_count        int64
following_count       int64
tweet_language       object
tweet_text           object
tweet_time           object
tweet_client_name    object
is_retweet             bool
retweet_userid       object
retweet_tweetid      object
dtype: object

### Inspecting tweet_language Column

In [49]:
lang_value_counts = ddf.tweet_language.value_counts().compute()

In [50]:
lang_value_counts.index

Index(['ar', 'und', 'en', 'fa', 'tr', 'ko', 'eu', 'in', 'fi', 'tl', 'vi', 'fr',
       'ur', 'es', 'pt', 'ja', 'ca', 'cs', 'ht', 'de', 'et', 'id', 'zh', 'it',
       'ru', 'pl', 'nl', 'cy', 'ckb', 'sk', 'hi', 'sl', 'sv', 'uk', 'da', 'hu',
       'sd', 'lt', 'no', 'is', 'ro', 'lv', 'th', 'bo', 'ta', 'kn', 'hr', 'ps',
       'iw', 'bg', 'bn', 'bs', 'ug', 'el', 'am', 'hy', 'ml', 'ka', 'sr', 'ne',
       'chr', 'pa', 'dv', 'iu', 'sn', 'mr', 'he'],
      dtype='object')

That looks fine, too. No strange numbers or tweet texts in here that would point to faulty imports.

### Inspecting tweet_client_name Column

In [51]:
client_name_value_counts = ddf.tweet_client_name.value_counts().compute()

In [52]:
client_name_value_counts

Twitter for iPhone     17746118
Twitter for Android    11781531
Twitter for iPad        3063280
Twitter Web App         1468719
Twitter Web Client       534684
                         ...
erased14602063                1
PicCollage                    1
erased14118499                1
Plays Now                     1
   Fancy                      1
Name: tweet_client_name, Length: 457, dtype: int64

In [53]:
client_name_value_counts.sample(20)

CSR Racing on iOS              4
Who Unfollowed Me              1
sms                          739
Twitpic                      860
erased13244793               594
Twittimer                      1
erased14591474             23821
UnlimApps Inc                  2
Angry Gran Run on iOS          1
arabsweb                  208229
API TWlTTER 1.1                8
Twitter Web App          1468719
غرد بالفتاوى                 810
🔥Latest Visitors🔥            167
twittelator                   22
soud_rama                   3059
Question_arabss               76
Twitter Media Studio         330
Dorar_islamic               6654
Echofon                      995
Name: tweet_client_name, dtype: int64

This looks in order. Client names in arabic are read from right to left which is why the value counts are in the left column.

### Inspecting retweet_tweetid Column

In [54]:
retweetids = ddf.retweet_tweetid.persist()

In [55]:
retweetids.head()

tweetid
1000000000447930368    998649277479088128
1000000030391095297    999637296612855808
1000000039362662400    999393857438699520
1000000054911033344    998351563839148032
1000000204865789954                   NaN
Name: retweet_tweetid, dtype: object

OK, so we have a null value here. Let's see how many in total.

In [56]:
ddf.retweet_tweetid.isnull().sum().compute()

3415910

That corresponds exactly to the number of non-retweets, so that's fine.

This means we should cast this column to **float** not integer.

In [57]:
# cast column to float dtypes
ddf.retweet_tweetid = ddf.retweet_tweetid.astype('float64').persist()

In [58]:
ddf.dtypes

userid                object
user_screen_name      object
follower_count         int64
following_count        int64
tweet_language        object
tweet_text            object
tweet_time            object
tweet_client_name     object
is_retweet              bool
retweet_userid        object
retweet_tweetid      float64
dtype: object

### Inspecting retweet_userid Column

This column should contain hashed and unhashed userids, i.e. strings.

Let's just check any NaNs.

In [59]:
ddf.retweet_userid.isnull().sum().compute()

35839843

Wow. 35.8 mln NaNs for the retweet_userid.

Let's have a closer look.

In [60]:
retweet_userids_notNaN = ddf[ddf.retweet_userid.notnull()].persist()

In [61]:
retweet_userids_notNaN.head(15)

,userid,user_screen_name,follower_count,following_count,tweet_language,tweet_text,tweet_time,tweet_client_name,is_retweet,retweet_userid,retweet_tweetid
tweetid,,,,,,,,,,,
1000061011880284161,np1eOxdxZnVz8KR9WRdXAaxOCMVgkHZlqKMZpQKTq08=,np1eOxdxZnVz8KR9WRdXAaxOCMVgkHZlqKMZpQKTq08=,4607,4843,ar,RT @jLrAA2gkQM83CtpEH6YyeV3eb+f56UcVcdvWBXKt0Q...,2018-05-25 17:08,Twitter for Android,True,974777604812263425,1.000053e+18
1000061016393252864,np1eOxdxZnVz8KR9WRdXAaxOCMVgkHZlqKMZpQKTq08=,np1eOxdxZnVz8KR9WRdXAaxOCMVgkHZlqKMZpQKTq08=,4607,4843,ar,RT @jLrAA2gkQM83CtpEH6YyeV3eb+f56UcVcdvWBXKt0Q...,2018-05-25 17:08,Twitter for Android,True,974777604812263425,1.000053e+18
1000061023066492934,np1eOxdxZnVz8KR9WRdXAaxOCMVgkHZlqKMZpQKTq08=,np1eOxdxZnVz8KR9WRdXAaxOCMVgkHZlqKMZpQKTq08=,4607,4843,ar,RT @jLrAA2gkQM83CtpEH6YyeV3eb+f56UcVcdvWBXKt0Q...,2018-05-25 17:08,Twitter for Android,True,974777604812263425,1.000052e+18
1000061031132131329,np1eOxdxZnVz8KR9WRdXAaxOCMVgkHZlqKMZpQKTq08=,np1eOxdxZnVz8KR9WRdXAaxOCMVgkHZlqKMZpQKTq08=,4607,4843,ar,RT @jLrAA2gkQM83CtpEH6YyeV3eb+f56UcVcdvWBXKt0Q...,2018-05-25 17:08,Twitter for Android,True,974777604812263425,1.000052e+18
1000061714824679424,XLCNthF4y5Q18iYqRrj7hStchSPp26kfx7ly0SPVt8=,XLCNthF4y5Q18iYqRrj7hStchSPp26kfx7ly0SPVt8=,2370,3492,ar,RT @2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOU...,2018-05-25 17:11,Twitter for Android,True,2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOUc=,1.000040e+18
1000061720243720192,XLCNthF4y5Q18iYqRrj7hStchSPp26kfx7ly0SPVt8=,XLCNthF4y5Q18iYqRrj7hStchSPp26kfx7ly0SPVt8=,2370,3492,ar,RT @2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOU...,2018-05-25 17:11,Twitter for Android,True,2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOUc=,1.000040e+18
1000061725092319235,XLCNthF4y5Q18iYqRrj7hStchSPp26kfx7ly0SPVt8=,XLCNthF4y5Q18iYqRrj7hStchSPp26kfx7ly0SPVt8=,2370,3492,ar,RT @2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOU...,2018-05-25 17:11,Twitter for Android,True,2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOUc=,1.000040e+18
1000061730414825472,XLCNthF4y5Q18iYqRrj7hStchSPp26kfx7ly0SPVt8=,XLCNthF4y5Q18iYqRrj7hStchSPp26kfx7ly0SPVt8=,2370,3492,ar,RT @2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOU...,2018-05-25 17:11,Twitter for Android,True,2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOUc=,1.000040e+18
1000061736110690304,XLCNthF4y5Q18iYqRrj7hStchSPp26kfx7ly0SPVt8=,XLCNthF4y5Q18iYqRrj7hStchSPp26kfx7ly0SPVt8=,2370,3492,ar,RT @2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOU...,2018-05-25 17:11,Twitter for Android,True,2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOUc=,1.000040e+18
1000071220707151873,CGglXh1nikyRGa29EEe1F2FAhhkOQ0Z6OlKB5vmS8=,CGglXh1nikyRGa29EEe1F2FAhhkOQ0Z6OlKB5vmS8=,4540,4732,ar,RT @2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOU...,2018-05-25 17:48,Twitter for Android,True,2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOUc=,1.000046e+18
1000071226860204032,CGglXh1nikyRGa29EEe1F2FAhhkOQ0Z6OlKB5vmS8=,CGglXh1nikyRGa29EEe1F2FAhhkOQ0Z6OlKB5vmS8=,4540,4732,ar,RT @2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOU...,2018-05-25 17:48,Twitter for Android,True,2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOUc=,1.000045e+18
1000071237031297024,CGglXh1nikyRGa29EEe1F2FAhhkOQ0Z6OlKB5vmS8=,CGglXh1nikyRGa29EEe1F2FAhhkOQ0Z6OlKB5vmS8=,4540,4732,ar,RT @2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOU...,2018-05-25 17:48,Twitter for Android,True,2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOUc=,1.000045e+18
1000071243771662336,CGglXh1nikyRGa29EEe1F2FAhhkOQ0Z6OlKB5vmS8=,CGglXh1nikyRGa29EEe1F2FAhhkOQ0Z6OlKB5vmS8=,4540,4732,ar,RT @2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOU...,2018-05-25 17:48,Twitter for Android,True,2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOUc=,1.000045e+18
1000071255410790404,CGglXh1nikyRGa29EEe1F2FAhhkOQ0Z6OlKB5vmS8=,CGglXh1nikyRGa29EEe1F2FAhhkOQ0Z6OlKB5vmS8=,4540,4732,ar,RT @2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOU...,2018-05-25 17:49,Twitter for Android,True,2sTX4IADf8dmtSoDvHdalKZ9Wh2InPrVINyxL3ZJOUc=,1.000046e+18
1000108900270698496,DMQ8Xwu8l9hqTi40fCweBpNsHKRIv1iMevZEpk2o6Ps=,DMQ8Xwu8l9hqTi40fCweBpNsHKRIv1iMevZEpk2o6Ps=,2114,2037,ar,RT @DMQ8Xwu8l9hqTi40fCweBpNsHKRIv1iMevZEpk2o6P...,2018-05-25 20:18,Twitter for iPhone,True,DMQ8Xwu8l9hqTi40fCweBpNsHKRIv1iMevZEpk2o6Ps=,1.000108e+18

It seems the tweet_text contains the retweet @username. Let's see if this is also the case for the entries with retweet_userid = NaN. That would be great.

In [62]:
retweet_userids_NaN = ddf[ddf.retweet_userid.isnull()].persist()

In [63]:
retweet_userids_NaN.head(15)

,userid,user_screen_name,follower_count,following_count,tweet_language,tweet_text,tweet_time,tweet_client_name,is_retweet,retweet_userid,retweet_tweetid
tweetid,,,,,,,,,,,
1000000000447930368,948302862098092034,y_44a_,9007,8821,ar,RT @oneway_market: السلام عليكم ورحمة الله وبر...,2018-05-25 13:05,Twitter for iPhone,True,NaN,9.986493e+17
1000000030391095297,948302862098092034,y_44a_,9007,8821,ar,RT @games4marah: 🌻#للتأجير 🌻#لبيع_النطيطات 🌻\n...,2018-05-25 13:06,Twitter for iPhone,True,NaN,9.996373e+17
1000000039362662400,948302862098092034,y_44a_,9007,8821,ar,RT @mzlatksa: #مظلات وسواتر #آفاق_الرياض\n#مظل...,2018-05-25 13:06,Twitter for iPhone,True,NaN,9.993939e+17
1000000054911033344,iXwa1+qxYAH2hEJ9nDG11qo6nmcpl89IQKhDRDqpfU4=,iXwa1+qxYAH2hEJ9nDG11qo6nmcpl89IQKhDRDqpfU4=,168,408,ar,RT @videohat_1: فيديو\nشاهد.. مواطن يوثق بالفي...,2018-05-25 13:06,Twitter for iPhone,True,NaN,9.983516e+17
1000000204865789954,Gj+bihYSO0L5Ht1+f9OEqP42KbnJWtNK4qv0WJr0cs=,Gj+bihYSO0L5Ht1+f9OEqP42KbnJWtNK4qv0WJr0cs=,1623,2022,ar,أستغفر الله العظيم وأتوب إليه https://t.co/Dn3...,2018-05-25 13:06,غرد بصدقة,False,NaN,NaN
1000000215598891008,948302862098092034,y_44a_,9007,8821,ar,RT @danat_almesk: #تخفيضات 50% على جميع الأصنا...,2018-05-25 13:06,Twitter for iPhone,True,NaN,9.997592e+17
1000000242165714944,948302862098092034,y_44a_,9007,8821,ar,RT @756870fda1544b6: ✅علاج السرطان في الهند عن...,2018-05-25 13:06,Twitter for iPhone,True,NaN,9.997301e+17
1000000262315094022,948302862098092034,y_44a_,9007,8821,ar,RT @m3asafarah: دورة #مع_السفرة السادسة عشر\nا...,2018-05-25 13:06,Twitter for iPhone,True,NaN,9.997669e+17
1000000271492288512,948302862098092034,y_44a_,9007,8821,ar,RT @Ayed72044978: #تسديد_قروض\n♋الراجحي\n♋الاه...,2018-05-25 13:06,Twitter for iPhone,True,NaN,9.997610e+17
1000000325586169856,2SJuOzyE6GQOsmW9ukY3ChH8rl049x6mDNZi3EM=,2SJuOzyE6GQOsmW9ukY3ChH8rl049x6mDNZi3EM=,1850,1594,ar,لا إله إلا أنت سبحانك إني كنت من الظالمين \n♻️...,2018-05-25 13:07,تطبيق زاد المسلم,False,NaN,NaN
1000000475503132673,ytmVN9opEFMM7Uk+0O0XgSuOpIRlok5Xqu+jel9qyM=,ytmVN9opEFMM7Uk+0O0XgSuOpIRlok5Xqu+jel9qyM=,3928,4273,ar,@hel89006141 تابعني فضلا وليس امرا,2018-05-25 13:07,Twitter for Android,False,NaN,NaN
1000000503982579713,948302862098092034,y_44a_,9007,8821,ar,RT @qahtani03: #عاجل نبأ دبلوماسي بان تل أبيب ...,2018-05-25 13:07,Twitter for iPhone,True,NaN,9.999468e+17
1000000514699022336,948302862098092034,y_44a_,9007,8821,ar,RT @tsded_k: تسديد_القروض\n💯📘🔙الراجحي \n📕🔙الأه...,2018-05-25 13:07,Twitter for iPhone,True,NaN,9.998106e+17
1000000527437062144,948302862098092034,y_44a_,9007,8821,ar,RT @baqatacount: رمضان مبارك عليكم 🌙معا لعمل ا...,2018-05-25 13:07,Twitter for iPhone,True,NaN,9.995574e+17
1000000536886808580,948302862098092034,y_44a_,9007,8821,ar,RT @azsepm: استقدام سواق خاص\nhttps://t.co/fc6...,2018-05-25 13:08,Twitter for iPhone,True,NaN,9.999429e+17

The entries containing NaN for retweet_userid DO contain a retweet handle but not formatted as userid but as username / screenname. 

This **may be because** these users (without userids) are not included as users themselves in this dataset, i.e. the entries that DO have retweet_userids may be retweeting other users in this dataset. Just a hunch.

Possible solution: create a reference table of ALL users (those who (re)tweeted and those who were being retweeted) with a unique user index. This table would have the columns: 

1. Unique ID generated by me 
2. Screen Name 
3. Twitter UserID if available
4. number of followers/following, if available

Besides this, no sign of faulty imports / shifted rows here.

### Inspecting index (tweetid)

In [64]:
ddf['tweetid'] = ddf.index

In [65]:
ddf.head()

,userid,user_screen_name,follower_count,following_count,tweet_language,tweet_text,tweet_time,tweet_client_name,is_retweet,retweet_userid,retweet_tweetid,tweetid
tweetid,,,,,,,,,,,,
1000000000447930368,948302862098092034,y_44a_,9007,8821,ar,RT @oneway_market: السلام عليكم ورحمة الله وبر...,2018-05-25 13:05,Twitter for iPhone,True,NaN,9.986493e+17,1000000000447930368
1000000030391095297,948302862098092034,y_44a_,9007,8821,ar,RT @games4marah: 🌻#للتأجير 🌻#لبيع_النطيطات 🌻\n...,2018-05-25 13:06,Twitter for iPhone,True,NaN,9.996373e+17,1000000030391095297
1000000039362662400,948302862098092034,y_44a_,9007,8821,ar,RT @mzlatksa: #مظلات وسواتر #آفاق_الرياض\n#مظل...,2018-05-25 13:06,Twitter for iPhone,True,NaN,9.993939e+17,1000000039362662400
1000000054911033344,iXwa1+qxYAH2hEJ9nDG11qo6nmcpl89IQKhDRDqpfU4=,iXwa1+qxYAH2hEJ9nDG11qo6nmcpl89IQKhDRDqpfU4=,168,408,ar,RT @videohat_1: فيديو\nشاهد.. مواطن يوثق بالفي...,2018-05-25 13:06,Twitter for iPhone,True,NaN,9.983516e+17,1000000054911033344
1000000204865789954,Gj+bihYSO0L5Ht1+f9OEqP42KbnJWtNK4qv0WJr0cs=,Gj+bihYSO0L5Ht1+f9OEqP42KbnJWtNK4qv0WJr0cs=,1623,2022,ar,أستغفر الله العظيم وأتوب إليه https://t.co/Dn3...,2018-05-25 13:06,غرد بصدقة,False,NaN,NaN,1000000204865789954

In [66]:
ddf.tweetid.str.isnumeric().sum().compute()

36523597

In [67]:
ddf.shape[0].compute()

36523597

In [68]:
ddf = ddf.drop('tweetid', axis=1).persist()

In [69]:
ddf.head()

,userid,user_screen_name,follower_count,following_count,tweet_language,tweet_text,tweet_time,tweet_client_name,is_retweet,retweet_userid,retweet_tweetid
tweetid,,,,,,,,,,,
1000000000447930368,948302862098092034,y_44a_,9007,8821,ar,RT @oneway_market: السلام عليكم ورحمة الله وبر...,2018-05-25 13:05,Twitter for iPhone,True,NaN,9.986493e+17
1000000030391095297,948302862098092034,y_44a_,9007,8821,ar,RT @games4marah: 🌻#للتأجير 🌻#لبيع_النطيطات 🌻\n...,2018-05-25 13:06,Twitter for iPhone,True,NaN,9.996373e+17
1000000039362662400,948302862098092034,y_44a_,9007,8821,ar,RT @mzlatksa: #مظلات وسواتر #آفاق_الرياض\n#مظل...,2018-05-25 13:06,Twitter for iPhone,True,NaN,9.993939e+17
1000000054911033344,iXwa1+qxYAH2hEJ9nDG11qo6nmcpl89IQKhDRDqpfU4=,iXwa1+qxYAH2hEJ9nDG11qo6nmcpl89IQKhDRDqpfU4=,168,408,ar,RT @videohat_1: فيديو\nشاهد.. مواطن يوثق بالفي...,2018-05-25 13:06,Twitter for iPhone,True,NaN,9.983516e+17
1000000204865789954,Gj+bihYSO0L5Ht1+f9OEqP42KbnJWtNK4qv0WJr0cs=,Gj+bihYSO0L5Ht1+f9OEqP42KbnJWtNK4qv0WJr0cs=,1623,2022,ar,أستغفر الله العظيم وأتوب إليه https://t.co/Dn3...,2018-05-25 13:06,غرد بصدقة,False,NaN,NaN

Excellent. All rows have a tweetid that is entirely numeric.

This gives us enough confidence that our columns contain all the right values (i.e. no faulty import / shifted rows) and we can proceed to change the data types.

### Inspecting tweet_time column

Let's see if we can cast this column to datetime64

In [70]:
ddf.tweet_time = ddf.tweet_time.astype('datetime64').persist()

In [71]:
ddf.tweet_time.max().compute()

Timestamp('2020-01-22 06:02:00')

That worked. We should be all set now.

Let's just confirm below.

## Verifying Data Types

In [72]:
ddf.dtypes

userid                       object
user_screen_name             object
follower_count                int64
following_count               int64
tweet_language               object
tweet_text                   object
tweet_time           datetime64[ns]
tweet_client_name            object
is_retweet                     bool
retweet_userid               object
retweet_tweetid             float64
dtype: object

Let's check that this worked OK by performing an operation on each column and a groupby.

In [73]:
ddf.retweet_tweetid.max().compute()

1.2198551507786506e+18

In [74]:
ddf.is_retweet.sum().compute()

33107687

In [75]:
ddf.tweet_client_name.value_counts().head()

Twitter for iPhone     17746118
Twitter for Android    11781531
Twitter for iPad        3063280
Twitter Web App         1468719
Twitter Web Client       534684
Name: tweet_client_name, dtype: int64

In [76]:
ddf.tweet_time.min().compute(), ddf.tweet_time.max().compute()

(Timestamp('2008-04-17 17:53:00'), Timestamp('2020-01-22 06:02:00'))

In [77]:
ddf.tweet_text.head()

tweetid
1000000000447930368    RT @oneway_market: السلام عليكم ورحمة الله وبر...
1000000030391095297    RT @games4marah: 🌻#للتأجير 🌻#لبيع_النطيطات 🌻\n...
1000000039362662400    RT @mzlatksa: #مظلات وسواتر #آفاق_الرياض\n#مظل...
1000000054911033344    RT @videohat_1: فيديو\nشاهد.. مواطن يوثق بالفي...
1000000204865789954    أستغفر الله العظيم وأتوب إليه https://t.co/Dn3...
Name: tweet_text, dtype: object

In [78]:
ddf.tweet_language.value_counts().compute()

ar     34249868
und     1682128
en       287225
fa        26917
tr        15486
         ...
dv            1
iu            1
sn            1
mr            1
he            1
Name: tweet_language, Length: 67, dtype: int64

In [79]:
ddf.following_count.mean().compute()

177494.95203725417

In [80]:
ddf.follower_count.mean().compute()

239459.06164622834

In [81]:
ddf.user_screen_name.head()

tweetid
1000000000447930368                                          y_44a_
1000000030391095297                                          y_44a_
1000000039362662400                                          y_44a_
1000000054911033344    iXwa1+qxYAH2hEJ9nDG11qo6nmcpl89IQKhDRDqpfU4=
1000000204865789954     Gj+bihYSO0L5Ht1+f9OEqP42KbnJWtNK4qv0WJr0cs=
Name: user_screen_name, dtype: object

In [82]:
ddf.userid.value_counts().compute()

480758910                                       1512063
541880069                                       1446637
343341807                                       1424862
455922757                                       1258894
374585121                                       1191449
                                                 ...
tAGWTOXvZlWiJIO8bdk2SYROv169QlkwpKfWAyvUxs=           1
6bzXl++XnNSdlmAH4hw8cb+1oQ3RaC9tk4d3sshew88=          1
OKcN5M58fZJuDL630ZFa5pk4Rprw+BuLDf3fXVatNIs=          1
6izqiH0Oim6DR2sErrMwOccg1wia0DV+iQXSH3b3a0=           1
FtLx7JsP3Oej5kJMOnGyC+4BBKJ2Xf1Gl0Qt9jHSaE=           1
Name: userid, Length: 4479, dtype: int64

Excellent. We have converted all the columns to their appropriate datatypes.

In [83]:
ddf.shape[0].compute()

36523597

This still leaves us with more than 36.5mln tweets to work with. I'll take that.

Let's now proceed to subset the dataframe to include only arabic tweets.

## Subsetting Arabic Tweets

### Percentage of Tweets in Arabic

In [84]:
%%time
# get value counts of tweet language column
ddf.tweet_language.value_counts().compute()

CPU times: user 221 ms, sys: 8.6 ms, total: 229 ms
Wall time: 1.32 s

ar     34249868
und     1682128
en       287225
fa        26917
tr        15486
         ...
dv            1
iu            1
sn            1
mr            1
he            1
Name: tweet_language, Length: 67, dtype: int64

In [85]:
# get percentage of arabic language tweets
ddf.tweet_language.value_counts().compute().loc['ar'] / n_rows_all * 100

93.77260185092223

In [86]:
# get percentage of english language tweets
ddf.tweet_language.value_counts().compute().loc['und'] / n_rows_all * 100

4.605492762958622

In [87]:
# get percentage of english language tweets
ddf.tweet_language.value_counts().compute().loc['en'] / n_rows_all * 100

0.786392390377421

- We have a clear majority of Arabic language tweets: almost 94%.
- 4.6% of the tweets have language 'undefined'.
- Less than 1% of the tweets are in English.

Below, let's explore the 'undefined' category a little further. I wonder if this is mostly Arabic.

In [88]:
%%time
# get tweet texts that have language = 'und'
ddf[ddf.tweet_language == 'und'].tweet_text.sample(frac=0.01).head(15)

CPU times: user 35.5 ms, sys: 4.87 ms, total: 40.4 ms
Wall time: 366 ms

tweetid
1000865165489958918                               @arifjavaid12 7:04 p.m
1001341321443979265                  RT @dr_l10: https://t.co/C2umbjDNM2
1001186246922850304         RT @alaayahyaazyabi: https://t.co/uoxA4qouRM
1000439088355463170    RT @khalifax1: #الحوثي_يوافق_تسليم_سلاحه https...
1000611177548931072    RT @Riyadh_mmm: #شركة_تنظيف_بالرياض 💯✔      #ت...
1000946655942856705                 RT @offkcuf: https://t.co/8fg5bs80EA
1001386336140578816    #دعاء_رمضان 13\n#صباح_الخير\n#صباح_الثلاثاء \n...
1000346760739459074    RT @begoliyim: #DamlaCan #survivor2018 https:/...
1001125243442909184    RT @almohydb4: .\n#السعودية \n#زراعة_الأسنان \...
1000169692944793600                       😂😂😂😂😂😂 https://t.co/xBfj4ZDngd
1001296997498966017    RT @FX3ie: #شركة_تنظيف_بالرياض 💯✔      #تنظيف_...
1001284916578054144                    @belalsalah11 @Hagrass20 😂😂😂😂😂😂🚶🚶
1001569481058119680    RT @1991_soso: @beramod1436 https://t.co/bahjg...
1000852387291123712    RT @Riyadh_mmm: #شركة_تنظيف_بالرياض 💯✔      #ت...
1000119177754103809    RT @safeeh_alrian: #صيانة_مسابح\n#تنظيف_مسابح ...
Name: tweet_text, dtype: object

Running the cell above a number of times reveals that the 'undefined' category seems to be made up of:
- tweets in Arabic
- tweets with only URLs
- tweets with only emojis

This means we should be able to retrieve some more Arabic tweets from this column to increase the total number of rows in our Arabic-only dataframe.

### Filtering Arabic from Undefined

Let's do this by:
1. Filtering out tweets with language = 'ar' into separate ddf: ddf_ar
2. Filtering out tweets with language = 'und' into separate ddf: ddf_und
3. Deleting tweets that are URLs or only emoji from ddf_und
4. Appending ddf_und to ddf_ar

In [89]:
ddf_ar = ddf[ddf.tweet_language == 'ar'].persist()
ddf_und = ddf[ddf.tweet_language == 'und'].persist()

In [90]:
# verify
ddf_und.shape[0].compute()

1682128

The undefined ddf should be small enough to work with locally as a pandas dataframe. Let's call a compute: df_und

In [91]:
# turn ddf_und into local pandas dataframe
df_und = ddf_und.compute()

In [92]:
# # save locally for future reference
# df_und.to_csv('/Users/richard/Desktop/springboard_repo/capstones/three/df_undefined.csv')

In [93]:
# # import df_und from local csv
# df_und = pd.read_csv('/Users/richard/Desktop/data_cap3/interim/df_undefined.csv', index_col=0)

In [94]:
df_und.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1682128 entries, 1000000675722547200 to 999999622281121792
Data columns (total 11 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   userid             1682128 non-null  object
 1   user_screen_name   1682128 non-null  object
 2   follower_count     1682128 non-null  int64
 3   following_count    1682128 non-null  int64
 4   tweet_language     1682128 non-null  object
 5   tweet_text         1682128 non-null  object
 6   tweet_time         1682128 non-null  datetime64[ns]
 7   tweet_client_name  1682128 non-null  object
 8   is_retweet         1682128 non-null  bool
 9   retweet_userid     21326 non-null    object
 10  retweet_tweetid    1492599 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 142.8+ MB

This is looking good. We have no NaNs for the first 9 columns and the expected many NaNs for retweet_userid and some NaNs for retweet_tweetid.

**Important:** some of these are **re-tweets** of tweets containing only emojis or URLs. 

This means it's better to:
1. first move the retweet usernames to the new column retweet_user_screen_name (to account for lack of user_ids) 
2. then remove all "RT"s, mentions, and URLs, and
3. then come back and filter out arabic tweets from undefined.

What we can do at this point is remove all the tweets from language other than 'ar' and 'und'.

In [95]:
# subset ddf to include only 'ar' and 'und' entries
ddf = ddf[(ddf.tweet_language == 'ar') | (ddf.tweet_language == 'und')].persist()

In [96]:
ddf.shape[0].compute()

35931996

After removing all tweets in languages other than 'arabic' and 'undefined' we are left with just under 36 million tweets.

### Move Retweet Usernames to New Column

Let's work with df_und first locally, to get a feel of how to do this.

In [97]:
df_und.tweet_text.sample(20, random_state=25)

tweetid
866627763641495552                RT @kbria2016: https://t.co/dwgHXb62uz
1122476147743313920    RT @a_abdawhab2022: @DiwaniyaOfPoets #مسابقة_د...
1057630368596033536    RT @a__r__z: #اسال_تميسه\n #الاختبارات\n #ضعف_...
749742946380083200     RT @eostudy: :Three sentences for getting Succ...
1077159302887018496               RT @LahaleboS: https://t.co/RPUpyjdv5i
1046470719549386752                RT @sluttyx1: https://t.co/qTo3IbcUCc
1115381123931168768    RT @Jood_Elevators: #مصاعد_جود 920008419 https...
1198462139033423872           RT @hawa_Lbalq8op: https://t.co/TgDuMWNLZi
793890843207798784     RT @hmodee2050: #سكري #محشي #للوز #تين_مشمش #ص...
872185405420040192                    RT @8iiit: https://t.co/fsUcZBX2U2
1141980248483008513             RT @ward_altaif: https://t.co/5Yam41mmG4
1205223104798175247    RT @AdryDrive: 🅼┏━━┓#H0MEL3ND ⭐️⭐️⭐️\n🆄┃━┳┻┳┓┏...
1202307740841971715                RT @JEA__: 🖤🔥 https://t.co/CixoI4KliB
762087051940491264          RT @am_dema2015: 👌🏻💐 https://t.co/dx2Kh0ahUW
1105208447992320001    RT @sherktH: #اكتيفيتي_UFM\n#شركة_ادارة_المشار...
1066051790326689792         RT @AbdulmoeinAagha: https://t.co/bsNGzQls43
1162726364463718401    RT @USP_UPP_: المتحدة للطباعة الأمنية تقدم خدم...
1003327825447972864                                    @iAHMDFCB10 😂😂😂😭😭
1101537235923542019    RT @erty_13: #رساله_الي_حبيبك\n#جامعة_الأميرة_...
1154705572652101632                           RT @MGWV1OO: @H0MEL3ND 🥇👍💎
Name: tweet_text, dtype: object

In [98]:
df_und.iloc[0]

userid                     ytmVN9opEFMM7Uk+0O0XgSuOpIRlok5Xqu+jel9qyM=
user_screen_name           ytmVN9opEFMM7Uk+0O0XgSuOpIRlok5Xqu+jel9qyM=
follower_count                                                    3928
following_count                                                   4273
tweet_language                                                     und
tweet_text           RT @Abo_ody103: #الشفا\n#الحزم\n#الفواز\n#الدا...
tweet_time                                         2018-05-25 13:08:00
tweet_client_name                                  Twitter for Android
is_retweet                                                        True
retweet_userid                                                     NaN
retweet_tweetid                                   999699981744340992.0
Name: 1000000675722547200, dtype: object

In [99]:
pattern_RT_mention = r"RT @([^:]+):"

In [100]:
def search_RT_mention(tweet_text):
    try:
        return re.search(pattern_RT_mention, tweet_text).group(1)
    except:
        return np.nan

In [101]:
df_und['retweet_user_screen_name'] = df_und.tweet_text.apply(search_RT_mention)

In [102]:
df_und.retweet_user_screen_name.sample(20)

tweetid
850780522183884800            mhajay1
1152596917915979776               NaN
1204780833795641345        abogory990
1123616696370106368               NaN
1095818512449355784               NaN
913931854792712193     m1_abuabdullah
883884323153301505                NaN
1028607435538345984       yuyu6789001
839020281947648000           kdmaaaat
835479120192602114          saher__sh
1062536659894439936          s_al3asy
839933114252201985           ha__mdan
770702391171743744            9mmt999
1138297914101587968      goldenstars0
1185029356743208961            ENRG_4
1012324170460467200        Mas1Follow
740687876606812160      AlsourayiaSFF
1049078586240634880        xyzxyz4042
1168252789010632704           _akhiar
1176947021040824323          sho__vip
Name: retweet_user_screen_name, dtype: object

Excellent, this has worked. By indexing '1' into the .group() call we are pulling out only the grouped characters between the @ and the :, i.e. the user_screen_name.

Let's now apply this to our entire ddf by writing a function to pass to ddf.map_partitions. This function operates on each partition of the dask dataframe (which is a df) and will use the search_RT_mention function defined above.

In [103]:
def create_retweet_user_column(df):
    df['retweet_user_screen_name'] = df.tweet_text.apply(search_RT_mention)
    return df

In [104]:
ddf = ddf.map_partitions(create_retweet_user_column).persist()

In [105]:
ddf.partitions[0].sample(frac=0.0002, random_state=26).compute()

,userid,user_screen_name,follower_count,following_count,tweet_language,tweet_text,tweet_time,tweet_client_name,is_retweet,retweet_userid,retweet_tweetid,retweet_user_screen_name
tweetid,,,,,,,,,,,,
1001287494795759616,RNxhB3jcAeaXNSeYqQZcIOlhd7UjHV9ADHkZi2owU=,RNxhB3jcAeaXNSeYqQZcIOlhd7UjHV9ADHkZi2owU=,4962,4547,ar,RT @lmsahssa: تخفيضات بمناسبه شهر رمضان المبار...,2018-05-29 02:21:00,Twitter for iPhone,True,NaN,1.001163e+18,lmsahssa
1001206451283660802,vczripOcvrQ82Or6UC35LhdwjXqWZPGKl+mzXb5dQ64=,vczripOcvrQ82Or6UC35LhdwjXqWZPGKl+mzXb5dQ64=,4468,148,ar,RT @vczripOcvrQ82Or6UC35LhdwjXqWZPGKl+mzXb5dQ6...,2018-05-28 20:59:00,Twitter for Android,True,vczripOcvrQ82Or6UC35LhdwjXqWZPGKl+mzXb5dQ64=,1.001206e+18,vczripOcvrQ82Or6UC35LhdwjXqWZPGKl+mzXb5dQ64=
1000915603086020608,biOlky1Ej652ReCty4dcJplp5GtZEi+IK7TTznOLaU=,biOlky1Ej652ReCty4dcJplp5GtZEi+IK7TTznOLaU=,749,359,ar,RT @Kinghavin111: عاجل 🔴👇\n\nومفرح \n\nباقي عل...,2018-05-28 01:44:00,Twitter for iPhone,True,NaN,1.000779e+18,Kinghavin111
1000620599696351232,XLCNthF4y5Q18iYqRrj7hStchSPp26kfx7ly0SPVt8=,XLCNthF4y5Q18iYqRrj7hStchSPp26kfx7ly0SPVt8=,2370,3492,ar,RT @a1014192809: #تسديد_القروض_البنكية✅🔰#تسديد...,2018-05-27 06:11:00,Twitter for Android,True,NaN,1.000203e+18,a1014192809
1000864558393778176,993237508048740355,prrafo,12206,10516,ar,لن يعجبگ احدھم گل الوقت\nحتى نفسگ قد يخيب ظنگ ...,2018-05-27 22:21:00,Twitter for Android,False,NaN,NaN,NaN
1001078758923792384,2551222490,complex_Total,72720,69585,ar,RT @kwt_fa: ليـه أعشقك وإنتَ أصلاً مَ إنت لي ..!,2018-05-28 12:32:00,Twitter for Android,True,NaN,1.000873e+18,kwt_fa
1000448211499323393,RNxhB3jcAeaXNSeYqQZcIOlhd7UjHV9ADHkZi2owU=,RNxhB3jcAeaXNSeYqQZcIOlhd7UjHV9ADHkZi2owU=,4962,4547,ar,RT @s_ujl: كود خصم من نمشي 👇🏻\n\nRFMAZ20\n.\...,2018-05-26 18:46:00,Twitter for iPhone,True,NaN,1.000079e+18,s_ujl
1000831645367308290,np1eOxdxZnVz8KR9WRdXAaxOCMVgkHZlqKMZpQKTq08=,np1eOxdxZnVz8KR9WRdXAaxOCMVgkHZlqKMZpQKTq08=,4607,4843,ar,RT @WaleedDhafeeri: اجعل شعارك دائماً وأبداً :...,2018-05-27 20:10:00,Twitter for Android,True,NaN,9.748434e+17,WaleedDhafeeri

Excellent, this has worked as expected.

We can now proceed to clean the Tweet_Text column.

We will be removing the following from tweet_text:
- RT_mention pattern
- URLs
- line breaks ("\n" etc.)
- hashtags and underscores

## Cleaning Tweet_Text Column

### Remove Retweet Mentions

In [106]:
def remove_RT_mentions(tweet_text):
    try:
        return re.sub(pattern_RT_mention, "", tweet_text)
    except:
        pass

In [107]:
def clean_tweet_text_column_RT(df):
    df.tweet_text = df.tweet_text.apply(remove_RT_mentions)
    return df

In [108]:
ddf = ddf.map_partitions(clean_tweet_text_column_RT).persist()

In [109]:
ddf.tweet_text.sample(frac=0.000005).compute()

tweetid
1005610290220818433     💥🚗🏎🚖🚘💥\nم ل ك 66     \nد هـ م 100  \nص ع ق 66...
1015261452633100290     '◇◇◇\n\nوحيـن لا أقول شيء..فلا يعنـي ان الحدي...
1022533203427504129                      @YpA2v886sxfTBK2 هذه سترة سطح ؟
1034739779399819265     شركة ركن الوادى تقدم خدمات التنظيف \nالمتميزة...
1058064555035766784     امنح نفسك بعض الراحة..\nوقرر الذهاب بعطلة قصي...
                                             ...
941536687926251520      هل تعاني من #سرعة_القذف وصغر حجم القضيب وعدم ...
950706584623165440           خفت وانا مالي دخل😂😂 https://t.co/R9Ctp7MIPT
959210702740312065                                 @Youssef_Uth 🤦🏻‍♂🤦🏻‍♂
981615008160407558      اجمل صورة بمباريات دوري الابطال بتاريخها 😍 ht...
988952500014202880      #شركة خدمات #المملكة 0506062104 #افضل #شركة_ت...
Name: tweet_text, Length: 153, dtype: object

Works like a charm!

### Removing Remaining Mentions

The tweet_text column also occasionally contains mentions that are not retweet-related. We will remove those below.

In [110]:
pattern_mentions = r'@[\S]+'

In [111]:
def remove_mentions(tweet_text):
    return re.sub(pattern_mentions, "", tweet_text)

In [112]:
# inspect ddf before removing mentions
ddf.tweet_text.sample(frac=0.000004, random_state=5).compute()

tweetid
1156170151714332673     #مناحل_الهاشمي \nفوائد العسل:\nاطيب عسل عسل ا...
1186297198763532289              @FHDD97 بس فيه فئه طاغيه وبكثره في قلبك
467585314157232129     آنسة عمري 36 من #المغرب  طيبة متواضعة واتمنى ل...
560348473846136833     أنتَ آلمسهلَ ‘ وَ انتَ آلمُيسرَ ‘ وَ أنتْ حسبي...
671699348992991233      المطبخ المتنقل\n\nمطبخ للفتيات الأمورات\nينمي...
679783497981100034      #سوريا : اعلان تشكيل محكمة الجنايات السورية ا...
732570039975596032      @7amad_alfadle @Ed_mark_j https://t.co/2cd2A9...
755929078272786433      🌟عرض خاص لمدة ٢٤ ساعه🌟\n✨خاتم  انيل من ماركة ...
765873286848872448      القلب مو خالي من الحب والشوق '\nلكن كتمت الشو...
902288967093161984      ✨ نشر✨\nتسويق \nخدمات \nمنتجات\n سنابات\nاعلا...
Name: tweet_text, dtype: object

OK, this is doing what I want it to do. Let's apply to whole ddf.

In [113]:
def clean_tweet_text_column_mentions(df):
    df.tweet_text = df.tweet_text.apply(remove_mentions)
    return df

In [114]:
# apply cleaning function to all partitions
ddf = ddf.map_partitions(clean_tweet_text_column_mentions).persist()

In [115]:
# inspect ddf after removing mentions
ddf.tweet_text.sample(frac=0.000004, random_state=5).compute()

tweetid
1156170151714332673     #مناحل_الهاشمي \nفوائد العسل:\nاطيب عسل عسل ا...
1186297198763532289                      بس فيه فئه طاغيه وبكثره في قلبك
467585314157232129     آنسة عمري 36 من #المغرب  طيبة متواضعة واتمنى ل...
560348473846136833     أنتَ آلمسهلَ ‘ وَ انتَ آلمُيسرَ ‘ وَ أنتْ حسبي...
671699348992991233      المطبخ المتنقل\n\nمطبخ للفتيات الأمورات\nينمي...
679783497981100034      #سوريا : اعلان تشكيل محكمة الجنايات السورية ا...
732570039975596032                               https://t.co/2cd2A9GEPR
755929078272786433      🌟عرض خاص لمدة ٢٤ ساعه🌟\n✨خاتم  انيل من ماركة ...
765873286848872448      القلب مو خالي من الحب والشوق '\nلكن كتمت الشو...
902288967093161984      ✨ نشر✨\nتسويق \nخدمات \nمنتجات\n سنابات\nاعلا...
Name: tweet_text, dtype: object

Excellent. Let's proceed.

### Removing Emoji

Now proceeding to remove all emoji from the tweet_text. Technically, we could save these to a separate column and use them as features (for example, to augment our sentiment analysis). But to maintain a realistic scope of this project we will not do so here. 

We will simply use the *emoji* library, which keeps an up-to-date record of all emoji Unicodes, to remove the emoji from the tweet text bodies.

In [116]:
def remove_emoji(tweet_text):
    try:
        return emoji.get_emoji_regexp().sub(u'', tweet_text)
    except:
        pass

In [117]:
def clean_tweet_text_column_emoji(df):
    df.tweet_text = df.tweet_text.apply(remove_emoji)
    return df

In [118]:
# inspect sample of ddf before removing emoji
ddf.tweet_text.sample(frac=0.000005, random_state=19).compute()

tweetid
1011362710800535552     اكثر شخص يستحق الحب !!\nالي يقرا تغريداتي كل ...
1014969758826029057     يتلقى الدكتور مسلم بن شباب المطيري، التهاني و...
1020360479628316674     أحبتي الكرام ..🔟\nأقوم بأداء العمرة نيابة عن ...
1034163554516185088     وافي و ببقى طول الأيام وافي💙🔐\n#عشقي_جنووني h...
1058959188108472325     زيت الخام الافغاني الاصلي\n🍀يطول ويكثف\n🍀ممتا...
                                             ...
942687905700597760      اهالي قرية المضيح يناشدون صحة حائل أنصافهم وت...
949775824546353153      عطر\n\n🔮 أكوا جيو أرماني بروفومو 🔮\n\nأحد عطو...
960483179852369920      مزارعوون ليبيون عام 1938-1939م https://t.co/I...
983997896038154240     ما تعليقك على إدارة مسؤولي #الأهلي لأزمة #عبدا...
989829720010379264     اللهم إني أعوذ بك من عذاب القبر وأعوذ بك من فت...
Name: tweet_text, Length: 153, dtype: object

In [119]:
# apply function to all partitions
# NB: this takes ca. 10min (with 50 workers) to run 
# persist() call so will run in the background and will slow down subsequent operations
ddf = ddf.map_partitions(clean_tweet_text_column_emoji).persist()

In [120]:
%%time
# inspect sample of ddf after removing emoji 
ddf.tweet_text.sample(frac=0.000005, random_state=19).compute()

CPU times: user 3.53 s, sys: 778 ms, total: 4.31 s
Wall time: 8min 6s

tweetid
1011362710800535552     اكثر شخص يستحق الحب !!\nالي يقرا تغريداتي كل ...
1014969758826029057     يتلقى الدكتور مسلم بن شباب المطيري، التهاني و...
1020360479628316674     أحبتي الكرام ..\nأقوم بأداء العمرة نيابة عن ا...
1034163554516185088     وافي و ببقى طول الأيام وافي\n#عشقي_جنووني htt...
1058959188108472325     زيت الخام الافغاني الاصلي\nيطول ويكثف\nممتازل...
                                             ...
942687905700597760      اهالي قرية المضيح يناشدون صحة حائل أنصافهم وت...
949775824546353153      عطر\n\n أكوا جيو أرماني بروفومو \n\nأحد عطور ...
960483179852369920      مزارعوون ليبيون عام 1938-1939م https://t.co/I...
983997896038154240     ما تعليقك على إدارة مسؤولي #الأهلي لأزمة #عبدا...
989829720010379264     اللهم إني أعوذ بك من عذاب القبر وأعوذ بك من فت...
Name: tweet_text, Length: 153, dtype: object

Excellent. Emoji's: bye, bye!

### Removing Line Breaks

Let's replace line breaks ("\n") with a white space.

In [121]:
def remove_linebreaks(tweet_text):
    return re.sub(r'[\n]', " ", tweet_text)

In [122]:
def clean_tweet_text_column_linebreaks(df):
    df.tweet_text = df.tweet_text.apply(remove_linebreaks)
    return df

In [123]:
# apply cleaning function to all partitions
ddf = ddf.map_partitions(clean_tweet_text_column_linebreaks).persist()

In [124]:
# inspect sample of ddf after removing linebreaks 
ddf.tweet_text.sample(frac=0.000005, random_state=19).compute()

tweetid
1011362710800535552     اكثر شخص يستحق الحب !! الي يقرا تغريداتي كل ي...
1014969758826029057     يتلقى الدكتور مسلم بن شباب المطيري، التهاني و...
1020360479628316674     أحبتي الكرام .. أقوم بأداء العمرة نيابة عن ال...
1034163554516185088     وافي و ببقى طول الأيام وافي #عشقي_جنووني http...
1058959188108472325     زيت الخام الافغاني الاصلي يطول ويكثف ممتازللد...
                                             ...
942687905700597760      اهالي قرية المضيح يناشدون صحة حائل أنصافهم وت...
949775824546353153      عطر   أكوا جيو أرماني بروفومو   أحد عطور الار...
960483179852369920      مزارعوون ليبيون عام 1938-1939م https://t.co/I...
983997896038154240     ما تعليقك على إدارة مسؤولي #الأهلي لأزمة #عبدا...
989829720010379264     اللهم إني أعوذ بك من عذاب القبر وأعوذ بك من فت...
Name: tweet_text, Length: 153, dtype: object

Done.

### Removing URLs

In [125]:
pattern_URLs = r'http\S+'

In [126]:
def remove_URLs(tweet_text):
    return re.sub(pattern_URLs, "", tweet_text)

In [127]:
def clean_tweet_text_column_URLs(df):
    df.tweet_text = df.tweet_text.apply(remove_URLs)
    return df

In [128]:
# apply cleaning function to all partitions
ddf = ddf.map_partitions(clean_tweet_text_column_URLs).persist()

In [129]:
# inspect sample of ddf after removing linebreaks 
ddf.tweet_text.sample(frac=0.000005, random_state=19).compute()

tweetid
1011362710800535552     اكثر شخص يستحق الحب !! الي يقرا تغريداتي كل ي...
1014969758826029057     يتلقى الدكتور مسلم بن شباب المطيري، التهاني و...
1020360479628316674     أحبتي الكرام .. أقوم بأداء العمرة نيابة عن ال...
1034163554516185088            وافي و ببقى طول الأيام وافي #عشقي_جنووني
1058959188108472325     زيت الخام الافغاني الاصلي يطول ويكثف ممتازللد...
                                             ...
942687905700597760      اهالي قرية المضيح يناشدون صحة حائل أنصافهم وت...
949775824546353153      عطر   أكوا جيو أرماني بروفومو   أحد عطور الار...
960483179852369920                       مزارعوون ليبيون عام 1938-1939م
983997896038154240     ما تعليقك على إدارة مسؤولي #الأهلي لأزمة #عبدا...
989829720010379264     اللهم إني أعوذ بك من عذاب القبر وأعوذ بك من فت...
Name: tweet_text, Length: 153, dtype: object

Done.

## Sampling ddf to see how we're doing

In [66]:
df_temp = ddf.tweet_text.sample(frac=0.0001, random_state=1).compute()

In [67]:
df_temp.shape

(3596,)

In [68]:
df_temp.sample(25, random_state=5)

tweetid
1194321036168351747     شركة كشف تسربات المياه بدون تكسير   حل ارتفاع...
758283071108091905      ️️️ ارماني ربل اسود إطار نحاسي k  هاي كوالتي ...
887827452784988160      #يوم_القدس_العالمي #اوامر_ملكيه #ليلة_القدر #...
1108239978230886400     #كامل_الحليلي_فرسان_القصيد #اوصف_احساسك_بكلمه...
733029317597368321      برنامج الممارسة التطبيقية هو فرصتك للتدرب على...
1048113455121793024           لا إله إلا أنت سبحانك إني كنت من الظالمين
727489839164186626      الان سجل وتدرب  مجانا في الذهب والنفط لمن فوق...
849057591309332480       #تخفيضات بالاسعار ️ #مخيمات ماجد للايجار الي...
686136295492599808      نشتري و نبيع و نسوق أراضي  .  #مخططات_الخير ....
1127333520945426434      خدمات النظافة العامه ,  شركتنا تقدم لكم خدما...
1063844840788639744     #كبده_ولا_فلافل تويتر بيحذف المتابعين الوهمين...
1098825649576386561     ساعة ريتشارد ميل رجالي c  التوصيل خلال ساعة د...
1020754331727990784    (وكان في المدينة تسعة رهط يفسدون في الأرض ولا ...
408339404865155072      زيادة عدد متابعينك-زيادة متابعين-فولو باك(1)ا...
1191767104065806336                . مهما كنت حزينآ..�{ قل الحمدالله }��
1155917732623335425     بنت الشيوخ أهل الفخر والجمايل تخرج الشيخة سلا...
1171867801990119425     ٢_    عسل   المجرى   للمتزوجين       أفضل  ال...
747378672726872064      عرض ليومين  ساعة قوتشي Gucci نسائية، هاي كوال...
1090192946891231234     ❥♡❥ ♡•.¸¸.••.¸¸.•♡   ღ❦⁽  ✽,♪   في هالزمن !  ...
813949826970877953      أصعب إجابـــه..قلتھا في حياتـــي   ماعاد لي خ...
1201054816740478977                     ألـف مبروك ياأبو عزام تستاهل
1191994874406543360     #المسافر_يجيبك_لموسم_الرياض  عوازل بانواعها م...
703207476775104512      شتان بين رجل تاب وتخلص من حبيبته كالذنوب السو...
1119530558449770496     مصنع طيبة الاثاث المنزلي أسعار ولا أروع  وألو...
726530714909458436      #شعار_النصر ورق حائط ثلاثي الأبعاد تفصيل حسب ...
Name: tweet_text, dtype: object

Still to clean:
- numbers (phone numbers? dates? other numbers)
- some non-character icons
- some random latin characters


We could also try removing any non-arabic text. But that would remove hashtags and underscores and we need to process those first.

>> re.sub(r'[a-zA-Z?]', '', my_string)

## Hashtags

How to deal with the hashtags? This is not a straightforward problem, and there are several ways we could approach it. We could: 

1. Remove the hashtag symbols and underscores and keep the words of the hashtags in the tweet_text body
2. Move the hashtags out of the tweet_text body and save them as a separate feature

We will opt for a combination of the two. We will first copy the hashtags to a separate column and save them as a separate feature, i.e. each tweet will have a feature that is a list of the hashtags (text only) that were included in that tweet. We will then remove the hashtag symbols and underscores from the tweet_text body **but maintain the words themselves**.

We are opting for this approach for two reasons:
1. To accommodate for instances in which hashtags double as part of the tweet sentence itself, e.g. "I didn't know #machinelearning worked in #arabic!"
2. Because we are ultimately interested in topic modelling and the text in the hashtags is likely to contain a strong signal about the topic each tweet belongs to.

To play devil's advocate here - and illustrate that there's always more than one way to approach a problem - we could also think of a good reason *not* to keep the hashtag text in the tweet_text column, namely:
1. Hashtags are, in some sense, a rudimentary form of topic modelling already. By including them in the tweet_text, we may be overpowering the signal that's in the tweet_text body itself. In other words, our topic modelling algorithm might simply cluster tweets according to the hashtags they contain.

We will be aware of this moving forward. Should this problem arise, we can always remove the hashtag texts from the tweet_text column at a later stage, since we have the hashtag texts saved in a separate column.

In [130]:
# inspect sample of ddf  
df_temp = ddf.partitions[0].sample(frac=0.001, random_state=1).compute()

In [131]:
df_temp.tweet_text.sample(15, random_state=12)

tweetid
1001265337436864513     ️#مناحل_ناصر_الغامدي    عسل المجرى الابيض  هو...
1000523587747500032     #الاتحاد_اكبر_عقد_رعايه #جوايز_السعوديه9 #ليف...
1000385385208332289     ساعة باتيك فيليب ساعات الزمرد 3 التوصيل خلال ...
1000621618530529281     !#تسديد_قروض الراجحي الاهلي 22 راتب سامبا الا...
1001560860110802944     ☜أقوى برنامج تخسيس في أوروبا والشرق الأوسط  ك...
1000808319865499649     شاحن متعدد معه ماطور هواء للكفر يشحن  جميع ال...
1001191420852690944     يارب إن للصائم دعوة مستجابة عند فطره ، فأجعله...
1000050679422029826
1000378419681644544     #استقدام_عامله_منزليه #فيتنام 20 يوم #الفلبين...
1000485031956148229     تخفيضات 50% لمده 24 ساعة سلسال بأسمك او اسم م...
1000822831192707072      والله ياشادي انت اللي اعمي وبتعاند لمجرد الع...
1000690962451124224    أهم ما جاء من عناوين في الصحف السعودية الصادرة...
1001125595206561792         ┊┊┊┊┊مبدع ┊┊┊┊مميز ┊┊┊مغرد ┊┊متألق       ...
1000162954510327810     إن جيت فأنا القديم اللي على خبرك     وإن رحت ...
1000463321571758081     طقم رحالي  السعر:300ريال  لطلب واتس اب 054136...
Name: tweet_text, dtype: object

In [132]:
# pattern to match 'reverse' hashtags
pattern_hashtags = r'((?<!\S)#\S+)+'

In [133]:
re.sub(pattern_hashtags, 'hash', df_temp.tweet_text.loc['1000378419681644544'])

' hash hash 20 يوم hash 60 يوم  hash 45 يوم hash 45 يوم سائقين من الهند خلال شهر '

This pattern works. Let's apply it to our df_temp:

In [134]:
def find_hashtags(tweet_text):
    hashtag_list = re.findall(pattern_hashtags, tweet_text)
    if len(hashtag_list) == 0:
        return np.nan
    else:
        return hashtag_list

In [135]:
df_temp['hashtags'] = df_temp.tweet_text.apply(find_hashtags)

In [136]:
df_temp.hashtags.sample(15)

tweetid
1000437674791129089                                                  NaN
1000690962451124224    [#الارصاد, #اعصار_مكونو, #السعودية, #الصحف_الس...
1000463321571758081                                                  NaN
1000859060005154816                                                  NaN
1001191420852690944                                                  NaN
1000440820821057537                                                  NaN
1001303244759535617    [#القولون_الهضمي, #الإمساك, #جرثومة_المعدة, #ا...
1001241675736469504                                                  NaN
1000523587747500032    [#الاتحاد_اكبر_عقد_رعايه, #جوايز_السعوديه9, #ل...
1001470137352863744           [#قروب_جنون_للدعم, #اسـطــورة_الـدعــم_GP]
1000050679422029826                                                  NaN
1001152483434160128                                                  NaN
1000975849192075264                                        [#بلاك_فايتر]
1000644161475895296                                                  NaN
1000621618530529281                                                  NaN
Name: hashtags, dtype: object

**NOTE:** The formatting of .sample() and .head() is off so that it appears as if the hashtag is on the left of the word instead of on the right. Important to keep in mind.

Great, this is working for df_temp. Let's expand and apply to our entire ddf.

In [137]:
def extract_hashtags(df):
    df['hashtags'] = df.tweet_text.apply(find_hashtags)
    return df

In [138]:
ddf = ddf.map_partitions(extract_hashtags).persist()

In [139]:
ddf.sample(frac=0.00001, random_state=1).compute()

,userid,user_screen_name,follower_count,following_count,tweet_language,tweet_text,tweet_time,tweet_client_name,is_retweet,retweet_userid,retweet_tweetid,retweet_user_screen_name,hashtags
tweetid,,,,,,,,,,,,,
1003478936196669445,988400378797535232,maram__2002,16937,16823,ar,غرفه نوم نفرين مكونه من سرير مترين مترين دولا...,2018-06-04 03:29:00,Twitter for iPhone,True,NaN,1.003440e+18,eqBx78DnHcWEwZB,NaN
1005851382082166785,np1eOxdxZnVz8KR9WRdXAaxOCMVgkHZlqKMZpQKTq08=,np1eOxdxZnVz8KR9WRdXAaxOCMVgkHZlqKMZpQKTq08=,4607,4843,ar,اللهم انت ربي لا اله الا انت خلقتني وانا عبدك...,2018-06-10 16:37:00,Twitter for Android,True,NaN,1.005671e+18,farraj90,NaN
1011734816662999040,963441095999926277,1lal1l,12059,9289,ar,نسألك يا الله في هذه الأيام المباركة أن تبلغ...,2018-06-26 22:15:00,Twitter for Android,True,NaN,1.004810e+18,ggg1r,NaN
1016175027417436162,448366650,hassin1937,30529,7265,ar,• - أنتَ جاهي وأتجاهي يَ الله،فَـ دُلّني .....,2018-07-09 04:19:00,Twitter for iPhone,True,NaN,1.016167e+18,do__x,"[#قروب_معزوفات_اهلاويه, #قروب_ريم_الملكية, #دا..."
1022629070796939265,clWHpqszmBh+OjWH5LNlAqtiN93f9J0MkZmuENWCQ=,clWHpqszmBh+OjWH5LNlAqtiN93f9J0MkZmuENWCQ=,540,337,ar,فوق الممتاز والله,2018-07-26 23:45:00,Twitter for Android,False,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
978504537370775553,vczripOcvrQ82Or6UC35LhdwjXqWZPGKl+mzXb5dQ64=,vczripOcvrQ82Or6UC35LhdwjXqWZPGKl+mzXb5dQ64=,4468,148,ar,آللهُم قدراً جَميلاً وخيراً يتَبعه الرضاء #صب...,2018-03-27 05:30:00,Twitter for Android,True,NaN,9.777655e+17,Samar_N2016,[#صباح_الرضاء]
981828817449836544,WpqY6lIUp7n3rHmvALH+CvjFzH5wpiChyrBiLN7Eg8=,WpqY6lIUp7n3rHmvALH+CvjFzH5wpiChyrBiLN7Eg8=,2424,3884,ar,لإعلانـاتكم بتويتربأقل الاسعار المؤسسات والشر...,2018-04-05 09:40:00,Twitter for Android,True,NaN,9.817361e+17,Reem2222226,NaN
988754433529077760,ymky5geGFEAYlrqmWFvPrEU3yRc1DD3jpwfC4LXACic=,ymky5geGFEAYlrqmWFvPrEU3yRc1DD3jpwfC4LXACic=,3863,4707,ar,#سجل_في_تطبيق_دوتي_الان تسديد القروض تسديدالت...,2018-04-24 12:20:00,Twitter for Android,True,NaN,9.887325e+17,e___880,[#سجل_في_تطبيق_دوتي_الان]
990892653637140480,WpqY6lIUp7n3rHmvALH+CvjFzH5wpiChyrBiLN7Eg8=,WpqY6lIUp7n3rHmvALH+CvjFzH5wpiChyrBiLN7Eg8=,2424,3884,und,#تركي_ال_الشيخ_يقف_ضد_النصر #المدينه_المنوره...,2018-04-30 09:56:00,Twitter for Android,True,NaN,9.908137e+17,U84069951,"[#تركي_ال_الشيخ_يقف_ضد_النصر, #المدينه_المنوره..."
999185920288002048,948302862098092034,y_44a_,9007,8821,ar,سداد جميع القروض الشخصيه والتعثرات البنكيه لد...,2018-05-23 07:11:00,Twitter for iPhone,True,NaN,9.988776e+17,Tamerah68291019,NaN

This looks like it worked.

Let's double-check by having a look at the tweet_text for entries that have NaN in the hashtags column:

In [140]:
text = ddf.loc['1005851382082166785'].tweet_text.compute()

In [141]:
text[0]

' اللهم انت ربي لا اله الا انت خلقتني وانا عبدك وانا على عهدك ووعدك ما استطعت اعوذ بك من شر ماصنعت ابوء لك بنعمتك علي وابوء بذن…'

In [142]:
re.findall(r'#', text[0])

[]

### Removing Hashtags and Underscores 

Let's replace any hashtags and underscores with a space; in both the tweet_text and the hashtags columns. This way we keep the words of the hashtags (to go into our topic modelling) but remove the non-letter characters.

In [143]:
# define function to sub underscores and hashtags with space
def remove_spaces_hashtags_underscores(tweet_text):
    return re.sub(r'[_#]', " ", tweet_text)

In [144]:
# define funtion to clean each partition
def clean_hashtags_underscores(df):
    df.tweet_text = df.tweet_text.apply(remove_spaces_hashtags_underscores) #this works
    
    for index in range(0, len(df)): # almost there, just not working for entries with 1 hashtag
        list_hashtags = df.hashtags.iloc[index]
        if type(list_hashtags) == list:
            for index in range (0, len(list_hashtags)):
                list_hashtags[index] = re.sub(r'[_#]', " ", list_hashtags[index])  
        else:
            pass 
    return df

Let's test on a subset of ddf first.

In [145]:
df_temp = ddf.sample(frac=0.0001, random_state=1).compute()

In [146]:
df_temp2 = df_temp.copy()

In [147]:
df_temp2.loc['1000487400529891328']

userid                                                     948302862098092034
user_screen_name                                                       y_44a_
follower_count                                                           9007
following_count                                                          8821
tweet_language                                                             ar
tweet_text                   مجموعة #العناية_بالشعر منتجات تحتوي على #زبدة...
tweet_time                                                2018-05-26 21:22:00
tweet_client_name                                          Twitter for iPhone
is_retweet                                                               True
retweet_userid                                                            NaN
retweet_tweetid                                         1000094797414256640.0
retweet_user_screen_name                                         walayf_store
hashtags                               [#العناية_بالشعر, #زبدة_الشيا, #الشيا]
Name: 1000487400529891328, dtype: object

In [148]:
clean_hashtags_underscores(df_temp2)

,userid,user_screen_name,follower_count,following_count,tweet_language,tweet_text,tweet_time,tweet_client_name,is_retweet,retweet_userid,retweet_tweetid,retweet_user_screen_name,hashtags
tweetid,,,,,,,,,,,,,
1000903312978382849,jYoFdFQ2nUXNFrsSSCpYPR9UYuaXFQrm9llfQihFw=,jYoFdFQ2nUXNFrsSSCpYPR9UYuaXFQrm9llfQihFw=,6,113,ar,اللهم أعذنا من عذاب القبر وعذاب جهنم,2018-05-28 00:55:00,تطبيق زاد المسلم,False,NaN,NaN,NaN,NaN
1001125595206561792,948302862098092034,y_44a_,9007,8821,ar,┊┊┊┊┊مبدع ┊┊┊┊مميز ┊┊┊مغرد ┊┊متألق ...,2018-05-28 15:38:00,Twitter for iPhone,True,NaN,9.985276e+17,AhmedKthere,NaN
1001511046102822913,np1eOxdxZnVz8KR9WRdXAaxOCMVgkHZlqKMZpQKTq08=,np1eOxdxZnVz8KR9WRdXAaxOCMVgkHZlqKMZpQKTq08=,4607,4843,ar,البخاخ الالماني دراجون مؤخر القذف من اول مره...,2018-05-29 17:10:00,Twitter for Android,True,NaN,1.001293e+18,n711614,[ دراجون]
1000487400529891328,948302862098092034,y_44a_,9007,8821,ar,مجموعة العناية بالشعر منتجات تحتوي على زبدة...,2018-05-26 21:22:00,Twitter for iPhone,True,NaN,1.000095e+18,walayf_store,"[ العناية بالشعر, زبدة الشيا, الشيا]"
1003478936196669445,988400378797535232,maram__2002,16937,16823,ar,غرفه نوم نفرين مكونه من سرير مترين مترين دولا...,2018-06-04 03:29:00,Twitter for iPhone,True,NaN,1.003440e+18,eqBx78DnHcWEwZB,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
996223861111840768,965336736145596416,E7tekam,7265,6855,und,,2018-05-15 03:00:00,Twitter for iPhone,True,NaN,9.959373e+17,_ene_222,NaN
999390616315482112,XLCNthF4y5Q18iYqRrj7hStchSPp26kfx7ly0SPVt8=,XLCNthF4y5Q18iYqRrj7hStchSPp26kfx7ly0SPVt8=,2370,3492,ar,خاص بشهر رمضان المبارك *العسل الأجود نوعاً ...,2018-05-23 20:44:00,Twitter for Android,True,NaN,9.993421e+17,honey3sl3,NaN
997887943556653058,np1eOxdxZnVz8KR9WRdXAaxOCMVgkHZlqKMZpQKTq08=,np1eOxdxZnVz8KR9WRdXAaxOCMVgkHZlqKMZpQKTq08=,4607,4843,ar,مناحل ناصر الغامدي عروضشهر رمضان المبارك ...,2018-05-19 17:13:00,Twitter for iPhone,True,NaN,9.975331e+17,__VU__,[ مناحل ناصر الغامدي]
999342601986871296,XLCNthF4y5Q18iYqRrj7hStchSPp26kfx7ly0SPVt8=,XLCNthF4y5Q18iYqRrj7hStchSPp26kfx7ly0SPVt8=,2370,3492,ar,البخاخ الألماني دراجون مؤخر القذف من اول مرة ...,2018-05-23 17:33:00,Twitter for iPhone,True,NaN,9.990875e+17,Pharmacist4207,NaN
997193046205845505,RNxhB3jcAeaXNSeYqQZcIOlhd7UjHV9ADHkZi2owU=,RNxhB3jcAeaXNSeYqQZcIOlhd7UjHV9ADHkZi2owU=,4962,4547,ar,البنك الأهلي آمن و فعال100% يعمل على تقوية...,2018-05-17 19:12:00,Twitter for iPhone,True,NaN,9.968573e+17,drhal6,[ البنك الأهلي]

OK, this works. Let's map to our ddf partitions:

In [149]:
ddf = ddf.map_partitions(clean_hashtags_underscores).persist()

In [150]:
ddf.partitions[0].hashtags.head(10)

tweetid
1000000000447930368                                                  NaN
1000000030391095297    [ للتأجير,  لبيع النطيطات,  زحاليق مائيه صابون...
1000000039362662400    [ مظلات,  آفاق الرياض,  مظلات استراحات,  مظلات...
1000000054911033344                                                  NaN
1000000204865789954                                                  NaN
1000000215598891008    [ تخفيضات,  دانة المسك للعود,  الرياض,  الدائر...
1000000242165714944               [ سرطان الثدي,  سرطان البنكرياس,  سر…]
1000000262315094022                                 [ مع السفرة,  حلقا…]
1000000271492288512                                        [ تسديد قروض]
1000000325586169856                                                  NaN
Name: hashtags, dtype: object

Done.

## Final Cleaning Tweet_Text Column

We still have to clean:
- numbers (phone numbers? dates? other numbers)
- some non-character icons
- some random latin characters

We could also try removing any non-arabic text. 
> re.sub(r'[a-zA-Z?]', '', my_string)

Let's try that on a subset of ddf first.

In [151]:
df_temp2 = df_temp.copy()

In [152]:
df_temp2.tweet_text.sample(15, random_state=2)

tweetid
1200085289596665857     #دورة_تدريب_المدربين #إعداد_المدرب_المعتمد   ...
1156539373506183168     شركة تنظيف وصيانة مكيفات بالرياض #شركة_تنظيف_...
963332110969950209          جودة تستحق الثقة  للتواصل وتس اب ٠٥٥١٣٢٩٧٠٨
1116012515446743040     ساعة اوديمار رجالي H  التوصيل خلال ساعه الريا...
730189399611351040       رادو ستيل رجالي درجه اولى هاي كواليتي ضمان س...
1144296492523491328     خلوا فوانيس الفرح تنور ظلام الدروب تنور بنور ...
869651238178181121               #تحفيظ_وادي_ليه«سورة النساء، الآية 36».
825742918577225728                سبحان ألله من شدة خشوعهم تظن أنهاصوره
1074171206960644096     #تسديد_قروض جميع البنوك  و المناطق سرعه الانج...
1155147913263222784     اكذب عليك وادري انا ولهان يا منيتي ويأسي اكذب...
1201969385331658755     ساعة بولغاري ثعبان  التوصيل خلال ساعه الرياض ...
930302936567205888      عسل سدر اصلي والله على ماقول شهيد طبيعي ١٠٠٪ ...
831620016072122368      نرفض إيقاف إدارة تويتر   إيقاف هذا الحساب  فض...
1194297035580592128     يا طير | ياللي فوق غصن الألم نحت نوحك أليم . ...
1119613075081113601     ساعة رولكس رجالي b  التوصيل خلال ساعة داخل ال...
Name: tweet_text, dtype: object

We're using a regex pattern found in [this SO thread](https://stackoverflow.com/questions/11323596/regular-expression-for-arabic-language) to eliminate all non-Arabic characters from the tweet_text bodies.

In [153]:
pattern_notArabic = r'[^\u0620-\u065f]+'

In [154]:
def remove_nonArabic_characters(tweet_text):
    try:
        t = re.sub(pattern_notArabic, ' ', tweet_text)
        return t
    except:
        pass

In [155]:
def tweet_text_finalsweep(df):
    df.tweet_text = df.tweet_text.apply(remove_nonArabic_characters)
    return df

In [156]:
# remove all non-Arabic characters
df_temp2.tweet_text = df_temp2.tweet_text.apply(remove_nonArabic_characters)

In [157]:
df_temp2.tweet_text.sample(15, random_state=2)

tweetid
1200085289596665857     دورة تدريب المدربين إعداد المدرب المعتمد الري...
1156539373506183168     شركة تنظيف وصيانة مكيفات بالرياض شركة تنظيف ب...
963332110969950209                      جودة تستحق الثقة للتواصل وتس اب
1116012515446743040     ساعة اوديمار رجالي التوصيل خلال ساعه الرياض خ...
730189399611351040      رادو ستيل رجالي درجه اولى هاي كواليتي ضمان سن...
1144296492523491328     خلوا فوانيس الفرح تنور ظلام الدروب تنور بنور ...
869651238178181121                     تحفيظ وادي ليه سورة النساء الآية
825742918577225728                سبحان ألله من شدة خشوعهم تظن أنهاصوره
1074171206960644096     تسديد قروض جميع البنوك و المناطق سرعه الانجاز...
1155147913263222784     اكذب عليك وادري انا ولهان يا منيتي ويأسي اكذب...
1201969385331658755     ساعة بولغاري ثعبان التوصيل خلال ساعه الرياض خ...
930302936567205888      عسل سدر اصلي والله على ماقول شهيد طبيعي اسعار...
831620016072122368      نرفض إيقاف إدارة تويتر إيقاف هذا الحساب فضلا ...
1194297035580592128     يا طير ياللي فوق غصن الألم نحت نوحك أليم و لي...
1119613075081113601     ساعة رولكس رجالي التوصيل خلال ساعة داخل الريا...
Name: tweet_text, dtype: object

In [158]:
df_temp2.tweet_text.sample(15, random_state=14)

tweetid
1188105444310618113           اشترك بقناة حب القرآن يجمعنا على التلغرام
1118936327662329856     شكرا لاعبي الهلال على اجتهادكم في محاولة إسعا...
1145860636892524544     حنيذ جنوبي بالمرخ للطلبات والحجز الاتصال على ...
1052201306381795328     لا مقاومة لا ثبات أمام و لا قوة تُصيبني رجفة ...
1110942186294706176     عرض بمناسبة هطول الأمطار ووفرت العسل عسل السد...
1118645526432485376     تسديد قروض عملاءجميع البنوك لمن يرغب سدادقرضه...
1074588194715389952     وفاه المشجع الاهلاوي لاشك ان وفاةالمشجع هو قض...
896697344040816640      زيت الحشيش الاصلي الخام ينبت الدقن والشنب ويك...
1153929698919014400     بلد عربي يتصدر إليكم أكثر شعوب العالم حصولا ع...
540573033337851904      محتاج دخل اضافي الان سجل وتدرب واستثمر بدورات...
976181168965079041      ساعة رولكس اتوماتيك ساعات الزمرد التوصيل خلال...
1063136456389025792    فلم سكس لبوه وخال شذوذ دياثه نهود تفريش اغتصاب...
582118001366839296      لأنه لا يوجد بلاء أكبر من الإنتكاس بعد الطريق...
1219454684810895360
1194965997247254530                     آخر الأخبار من برنامج الديوانيه
Name: tweet_text, dtype: object

In [159]:
df_temp2.tweet_text.sample(15, random_state=29)

tweetid
933325943472607233      رولكس رجالي فضي استيل توصيل داخل الرياض بنفس ...
1192255882450653186     الشخص الذي علمني الحب هو نفس الشخص الذي علمني...
857166576872763392      ميز نفسك بامتلاك فيلا فى اوروبا اطلالة رائعة ...
683005182645518336      أيها الحظ السعيد مٓ لونك المفضل لكي أرتديه لد...
885626549491445760      تنتحر طب والأفاتار اللي انا حاطه ده يقولوا عل...
1184007104132190208                         معايا طفحه وطفش ونفسي اجاكر
963886713096605696      حفيدات الفاروق يعيش مجهول الهوية داخل المؤسسا...
572018156413313024      ذلك بأن الله نزل الكتاب بالحق وإن الذين اختلف...
859256247006134272      هاتريك دوري هلالي تسديد القروض الاهلي لسداد ق...
853974441780551681      عرض لنهاية اليوم فقط مفرش سرير نفرين قطعه راق...
1107229061477265409     الوفاء للدعم تعجز الحروف عن صياغة عبارات الشك...
1133349034347778048     يكتمل تنسيق حفلتك مع تاجي الهندي الرياض للاست...
917666594028949506                                              تم ومقدم
1164634073471389696     وتلك الأيام نداولها بين الناس هذه سنّة الله و...
919618392490954753      فداك قلبي رسول الله الا بذكر الله تطمئن القلو...
Name: tweet_text, dtype: object

Done, now let's apply to ddf:

In [160]:
ddf = ddf.map_partitions(tweet_text_finalsweep).persist()

In [161]:
ddf.tweet_text.sample(frac=0.001, random_state=7).head(10)

tweetid
1000858610753327104      دعاء الجلسة بين السجدتين رب اغفر لي رب اغفر لي
1000646766260256768     شركة تنظيف منازل بالسليمانيه شركه غسيل خزانات...
1000542120820822016     عيونك أجمل وأحلي بدون نظارة طبية مع تصحيح الن...
1000296152816865281     حساب مهتم بالسياحه بالمملكه و خاصه ابها وظايف...
1001182832788729857     العيد مابقى عليه الا اقل من شهر مو متحمسه تطل...
1000170398829498368     كفرات لويس فيتون ماركة وجودة عاليه جدا لجميع ...
1000896205193469957     مهما حصلك في حياتك خليك دايما واثق ان ربنا شا...
1000929696480223232     لدينا طاقم من أفضل الفنيين والمعدات في خدمتكم...
1000214068442132482    اللهم إني أسألك علماً نافعاً ورزقاً طيباً وعمل...
1000972633847058432     الدعاء لجنودنا في شهر رمضان شركة تنظيف قصور ش...
Name: tweet_text, dtype: object

# INTERMEDIATE PARQUET SAVE

In [162]:
ddf.to_parquet('s3://twitter-saudi-us-east-2/interim/ddf_clean_with_empty_tweet_text_rows.parquet',
               engine='pyarrow')

Done. Saved to parquet. YAY!

## Drop Rows with Empty Tweet_Text Columns

We have removed all:
- emojis
- mentions
- URLs
- hashtags
- digits
- non-Arabic characters

We can now proceed to drop any rows that have an empty tweet_text column. These should be the entries that have tweet_language = 'undefined' and that only contained emoji's, mentions and/or URLs.

These entries will contain only spaces (rather than totally empty strings). Let's write a regex pattern that will allow us to match any entries containing of only 0 or more spaces.

In [163]:
pattern_whitespaces = r'^\s*$'

In [164]:
# test on first partition
df_0 = ddf.partitions[1].compute()

In [165]:
df_0.tweet_text.isnull().sum()

0

In [172]:
df_0[df_0.tweet_text == ' ']

,userid,user_screen_name,follower_count,following_count,tweet_language,tweet_text,tweet_time,tweet_client_name,is_retweet,retweet_userid,retweet_tweetid,retweet_user_screen_name,hashtags
tweetid,,,,,,,,,,,,,
1001597814097567745,988400378797535232,maram__2002,16937,16823,und,,2018-05-29 22:55:00,Twitter for iPhone,True,NaN,9.971469e+17,badre72,NaN
1001599017569193984,kpeiRc5FjzPFD6lb5jNnUMi9wNYGNh2U3cjP6JEj3I=,kpeiRc5FjzPFD6lb5jNnUMi9wNYGNh2U3cjP6JEj3I=,1777,765,und,,2018-05-29 22:59:00,Twitter for iPhone,False,NaN,NaN,NaN,NaN
1001599162415280134,kpeiRc5FjzPFD6lb5jNnUMi9wNYGNh2U3cjP6JEj3I=,kpeiRc5FjzPFD6lb5jNnUMi9wNYGNh2U3cjP6JEj3I=,1777,765,und,,2018-05-29 23:00:00,Twitter for iPhone,False,NaN,NaN,NaN,NaN
1001600008381222912,N7vyR3Dc33h4hsFz7AN8UsMWS9KFrO6+xwoaY2PCEnE=,N7vyR3Dc33h4hsFz7AN8UsMWS9KFrO6+xwoaY2PCEnE=,77,663,und,,2018-05-29 23:03:00,Twitter for iPhone,False,NaN,NaN,NaN,NaN
1001600512259698688,OjC1wjnPAgRjJBgqeQHJL+OLlbzy0OdfKtWW0FVX4q0=,OjC1wjnPAgRjJBgqeQHJL+OLlbzy0OdfKtWW0FVX4q0=,3526,4287,und,,2018-05-29 23:05:00,Twitter for iPhone,True,NaN,1.001586e+18,othmanalkamees,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005221654384037889,bRCq+oLPXjvibAUJ+wGti7gWCgJthbTDL7dFyTaYD0=,bRCq+oLPXjvibAUJ+wGti7gWCgJthbTDL7dFyTaYD0=,909,328,und,,2018-06-08 22:54:00,Twitter for iPhone,True,NaN,1.005210e+18,denizinmaviisi,NaN
1005221789012844544,xRg5JwEgzE+RkpXA6EUs287pbqiWr5un1dbShr+5Og=,xRg5JwEgzE+RkpXA6EUs287pbqiWr5un1dbShr+5Og=,843,143,und,,2018-06-08 22:55:00,Twitter for Android,True,NaN,1.005216e+18,PicturesFoIder,NaN
1005223208939868160,RNxhB3jcAeaXNSeYqQZcIOlhd7UjHV9ADHkZi2owU=,RNxhB3jcAeaXNSeYqQZcIOlhd7UjHV9ADHkZi2owU=,4962,4547,und,,2018-06-08 23:01:00,Twitter for iPhone,True,NaN,1.002711e+18,8ClXQPVKpTEB264,NaN
1005231348498489344,2904198326,m7m_aq,42835,42860,und,,2018-06-08 23:33:00,erased9353731,False,NaN,NaN,NaN,NaN
1005234525197230082,kpeiRc5FjzPFD6lb5jNnUMi9wNYGNh2U3cjP6JEj3I=,kpeiRc5FjzPFD6lb5jNnUMi9wNYGNh2U3cjP6JEj3I=,1777,765,und,,2018-06-08 23:46:00,Twitter for iPhone,False,NaN,NaN,NaN,NaN

In [184]:
# create mask that contains all entries where tweet text matches regex pattern, i.e. only whitespaces
mask = df_0.tweet_text.str.contains(pattern_whitespaces)

In [185]:
# use mask to maintain only entries that do NOT contain only whitespaces
df_0 = df_0[~mask]

This works. Let's apply to ddf:

In [186]:
# define function
def remove_empty_tweets(df):
    mask = df.tweet_text.str.contains(pattern_whitespaces)
    df = df[~mask]
    return df

In [187]:
# apply across all partitions
ddf = ddf.map_partitions(remove_empty_tweets).persist()

In [191]:
# verify
ddf[ddf.tweet_text == ' '].compute()

Empty DataFrame
Columns: [userid, user_screen_name, follower_count, following_count, tweet_language, tweet_text, tweet_time, tweet_client_name, is_retweet, retweet_userid, retweet_tweetid, retweet_user_screen_name, hashtags]
Index: []

Excellent, this has worked.

Let's see how many rows we have left now.

In [192]:
ddf.shape[0].compute()

35347002

Just over 35 million tweets left. These are guaranteed to be all in Arabic. That's still more than enough to work with.

# INTERMEDIATE PARQUET SAVE

In [193]:
ddf.to_parquet('s3://twitter-saudi-us-east-2/interim/ddf_clean_without_empty_tweet_text_rows.parquet',
               engine='pyarrow')

Saved to S3 bucket as parquet.

# Identifying Unique Tweets

We will now proceed to identify the unique tweets in the dataset. Since there are so many re-tweets, we are hoping that this will allow us to significantly reduce the size of the dataset so that we can proceed to work with the tweet text contents locally using pandas, rather than distributed using dask.

The goal is to get a relational database of:
- unique tweets with unique identifiers, generated by us
- the original dataset with unique tweet IDs, representing unique instances of potentially duplicated content

The collection of unique tweet content is what we will feed into our topic modelling algorithm.

### Import Cleaned DDF

In [5]:
# import cleaned ddf from parquet file in s3 bucket

# read s3 data into dask dataframe
ddf = dd.read_parquet(
    "s3://twitter-saudi-us-east-2/interim/ddf_clean_without_empty_tweet_text_rows.parquet",
).persist()

In [6]:
ddf.shape[0].compute()

35347002

## Drop All Rows with Duplicate Tweet_Text
Let's proceed to drop all rows from ddf that have duplicate contents for the tweet_text column. This will leave us with the set of original tweets; i.e. no duplicates due to re-tweeting.

In [6]:
# create dask dataframe with only unique entries in tweet_text
ddf_unique = ddf.drop_duplicates(subset=['tweet_text']).persist()

In [7]:
# get number of rows in ddf_unique
ddf_unique.shape[0].compute()

6153341

In [8]:
ddf_unique

Dask DataFrame Structure:
               userid user_screen_name follower_count following_count tweet_language tweet_text      tweet_time tweet_client_name is_retweet retweet_userid retweet_tweetid retweet_user_screen_name hashtags
npartitions=1
               object           object        float64         float64         object     object  datetime64[ns]            object    float16         object         float64                   object   object
                  ...              ...            ...             ...            ...        ...             ...               ...        ...            ...             ...                      ...      ...
Dask Name: drop-duplicates-agg, 1 tasks

BAM! Only just over 6 million unique tweets left. That means we've reduced the size of the dataset by ~80%. The dataframe is only 1 partition.

Let's save this to our s3 bucket and then see if we can also save it locally.

In [10]:
# save ddf with unique tweets to s3 bucket as parquet
ddf_unique.to_parquet('s3://twitter-saudi-us-east-2/interim/ddf_unique_all_columns.parquet',
               engine='pyarrow')

In [11]:
# let's also save as a csv
ddf_unique.to_csv('s3://twitter-saudi-us-east-2/interim/ddf_unique_all_columns.csv')

['twitter-saudi-us-east-2/interim/ddf_unique_all_columns.csv/0.part']

The csv file in our s3 bucket totals to just under 2GB. That means we should be able to read it in as a local pandas dataframe.

Let's try that now.

In [12]:
# bring only unique tweet text bodies to local machine as pandas dataframe
df_tweettexts = ddf_unique.tweet_text.compute()

In [13]:
df_tweettexts.head()

tweetid
1000000000447930368     السلام عليكم ورحمة الله وبركاته مرحبا عملاء م...
1000000030391095297     للتأجير لبيع النطيطات زحاليق مائيه صابونية مل...
1000000039362662400     مظلات وسواتر آفاق الرياض مظلات استراحات مظلات...
1000000054911033344     فيديو شاهد مواطن يوثق بالفيديو كميات كبيرة من...
1000000204865789954                       أستغفر الله العظيم وأتوب إليه
Name: tweet_text, dtype: object

Excellent. That works and we can continue to work locally from here.

Let's reset the index and then save this as a csv to our s3 bucket as well for later reference.

In [14]:
# reset the index to be consecutive integers starting from 0
df_tweettexts.reset_index(drop=True, inplace=True)

In [16]:
df_tweettexts.head(10)

0     السلام عليكم ورحمة الله وبركاته مرحبا عملاء م...
1     للتأجير لبيع النطيطات زحاليق مائيه صابونية مل...
2     مظلات وسواتر آفاق الرياض مظلات استراحات مظلات...
3     فيديو شاهد مواطن يوثق بالفيديو كميات كبيرة من...
4                       أستغفر الله العظيم وأتوب إليه
5     تخفيضات على جميع الأصناف لدى دانة المسك للعود...
6     علاج السرطان في الهند عند افضل مستشفى مختص با...
7     دورة مع السفرة السادسة عشر احصائية الربع الاو...
8     تسديد قروض الراجحي الاهلي راتب وجميع البنوك ب...
9           لا إله إلا أنت سبحانك إني كنت من الظالمين
Name: tweet_text, dtype: object

In [18]:
# save this series locally
df_tweettexts.to_csv('/Users/richard/Desktop/data_cap3/interim/df_unique_only_tweet_texts_reset_index.csv')

## Replace Tweet_Text in Full Table with Index

Now that we have a Series with the unique tweet_text contents (and a reset index), we can go ahead and replace the tweet_text bodies in the original, full dataset (containing >35mln rows) with just an integer referring to the index of the unique tweet_text content.

This will significantly reduce the size of the original, full dataset and may mean we can work with that locally, too.

In [52]:
client.restart()

In [7]:
# import df_tweettexts as a dask dataframe
ddf_tweettexts = dd.read_csv(
    's3://twitter-saudi-us-east-2/interim/df_unique_only_tweet_texts_reset_index.csv',
    blocksize='64MiB',
    engine='python',
).set_index('Unnamed: 0').persist()

In [8]:
ddf_tweettexts.head()

                                                   tweet_text
Unnamed: 0
0            السلام عليكم ورحمة الله وبركاته مرحبا عملاء م...
1            للتأجير لبيع النطيطات زحاليق مائيه صابونية مل...
2            مظلات وسواتر آفاق الرياض مظلات استراحات مظلات...
3            فيديو شاهد مواطن يوثق بالفيديو كميات كبيرة من...
4                              أستغفر الله العظيم وأتوب إليه

In [ ]:
# ### pseudo-code

# for tweet_text cell of every row:
#     find corresponding unique_tweet
#     replace tweet_text cell with index of unique_tweet
    
# could we do a lambda?

In [9]:
df_0 = ddf.partitions[0].compute()

In [10]:
df_0.iloc[0]

userid                                                     948302862098092034
user_screen_name                                                       y_44a_
follower_count                                                           9007
following_count                                                          8821
tweet_language                                                             ar
tweet_text                   السلام عليكم ورحمة الله وبركاته مرحبا عملاء م...
tweet_time                                                2018-05-25 13:05:00
tweet_client_name                                          Twitter for iPhone
is_retweet                                                               True
retweet_userid                                                           None
retweet_tweetid                                          998649277479088128.0
retweet_user_screen_name                                        oneway_market
hashtags                                                                 None
Name: 1000000000447930368, dtype: object

In [11]:
df_0.iloc[0].tweet_text

' السلام عليكم ورحمة الله وبركاته مرحبا عملاء متجر ون واي وكل عام وانتم بخير نعتذر لكم عن تاخرنا في العودة بسبب بعض الظر '

In [12]:
# find index of corresponding unique_tweet
ddf_tweettexts[ddf_tweettexts.tweet_text == df_0.iloc[0].tweet_text].compute().index.values.astype(int)[0]

0

In [40]:
# take a subsample of df_0 to test
df_sample = df_0.sample(25, random_state=21)

In [41]:
# inspect df_sample before applying
df_sample.tweet_text

tweetid
1000293959669821440     اسكن الان داخل اجمل المجمعات السكنية فى دبى ف...
1000897770969096192    دعاء سجود التلاوة سجد وجهي للذي خلقه وشق سمعه ...
1000773724130435073     شركه رش مبيد بالرياض مكافحة حشرات صراصير نمل ...
1000004737947852803     شراء اثاث مستعمل الرياض شراء اثاث مستعمل شراء...
1000625435238125568     تعاني من سرعة القذف وضعف الانتصاب وضعف القدرة...
1001262936164392960     ساعه رولكس اوتوماتيك التوصيل خلال ساعه الرياض...
1001010534756601856     مسابقات عبدالعزيز الخضيري التخلص من سرعه القذ...
1000612102652952577                       الاميره للدعم قروب جنون للدعم
1000464129243668482     مهما ذبُلت أعلم جيدًا ولو بعد حين لابد أن تأت...
1001560511694233605     عسل عبد العزيز العسيري عروض رمضانيه ك سدر جبل...
1000401617223671814     شكلك صليتي وهي جايتك هههههههههههههههههههههههه...
1000767866977898496     بدون فلتر محمد صلاح الحوثي يوافق تسليم سلاحه ...
1000975339756163072     تسديد قروض الراجحي الاهلي العربي الإنماء الري...
1001390676645437440     كبسول ماكس مان تعزيز القدره الجنسية انتصاب اق...
1001276109407899648     كبسول ماكس مان تعزيز القدره الجنسية انتصاب اق...
1000916013469327362     إلى الحكومة حذارِ من منح الجنسية لسوريين وتكر...
1000881788653330432     لإعلاناتكم في تويتر بأسعار رمزية تسويق منتجات...
1000494453965164544                      لعيب ابن كلب عرص متعمد الاصابه
1001356783011557376     ريتشارد ميل رولكس كارتير فرزاتشي اوديمار هوبل...
1000541180818591746     مبروك للشيخ محمد بن سلطان بن خليفة آل نهيان ت...
1000882562934497282     اغلاق المحلات مساء شراء الاثاث المستعمل بالري...
1000868540109467648     لطٌـفُـ يّا لله ـِ منٌـ ك ـل ثًقَـل ل يّحًـتُ...
1001102711008395272                       ما الومه ياشيخه البنت تهببللل
1000992220676227072                        اللهم عافنا واعف عنا يا كريم
1000848118617960448     ساعه رجالي دينتي ضمان سنه مع علبه فاخره السعر...
Name: tweet_text, dtype: object

Excellent, we have two identical tweet_text contents right in the middle. That should allow us to see whether this lambda function works the way we want it to.

In [21]:
%%time
# try it as a lambda over df_sample's tweet_text column
df_sample.tweet_text = df_sample.tweet_text.apply(lambda x: ddf_tweettexts[ddf_tweettexts.tweet_text == x].compute().index.values.astype(int)[0])

CPU times: user 782 ms, sys: 88.2 ms, total: 870 ms
Wall time: 11.3 s

In [23]:
df_sample.tweet_text

tweetid
1000293959669821440      210
1000897770969096192     8232
1000773724130435073      851
1000004737947852803       96
1000625435238125568      653
1001262936164392960     4124
1001010534756601856     9834
1000612102652952577     3571
1000464129243668482     4960
1001560511694233605     2803
1000401617223671814     4139
1000767866977898496     5639
1000975339756163072     9743
1001390676645437440    10463
1001276109407899648    10463
1000916013469327362     9271
1000881788653330432     2842
1000494453965164544     5397
1001356783011557376      897
1000541180818591746     5901
1000882562934497282     8856
1000868540109467648     8688
1001102711008395272    10441
1000992220676227072     3704
1000848118617960448     8415
Name: tweet_text, dtype: int64

In [16]:
ddf_tweettexts.loc[10463].tweet_text.compute()

Unnamed: 0
10463     كبسول ماكس مان تعزيز القدره الجنسية انتصاب اق...
Name: tweet_text, dtype: object

Perfect. This is working.

Let's now wrap this in a function we can pass to ddf.map_partitions() and let dask do the heavy lifting for us here.

Before we can do that we should push df_tweettexts to our cluster as a dask dataframe.

In [24]:
ddf_0 = ddf.partitions[0].persist()

In [25]:
ddf_0.tweet_text.head()

tweetid
1000000000447930368     السلام عليكم ورحمة الله وبركاته مرحبا عملاء م...
1000000030391095297     للتأجير لبيع النطيطات زحاليق مائيه صابونية مل...
1000000039362662400     مظلات وسواتر آفاق الرياض مظلات استراحات مظلات...
1000000054911033344     فيديو شاهد مواطن يوثق بالفيديو كميات كبيرة من...
1000000204865789954                       أستغفر الله العظيم وأتوب إليه
Name: tweet_text, dtype: object

In [37]:
%%time
## test on partition 1
ddf_0 = replace_tweet_column_with_index(ddf_0)

TypeError: Column assignment doesn't support type dask.dataframe.core.DataFrame

In [ ]:
# # define function to sub underscores and hashtags with space
# def remove_spaces_hashtags_underscores(tweet_text):
#     return re.sub(r'[_#]', " ", tweet_text)

In [ ]:
# def tweet_text_finalsweep(df):
#     df.tweet_text = df.tweet_text.apply(remove_nonArabic_characters)
#     return df

In [50]:
def replace_tweets_with_index(df):
    df.tweet_text = df.tweet_text.apply(
        lambda x: ddf_tweettexts[ddf_tweettexts.tweet_text == x].compute().index.values.astype(int)[0]
    )
    return df

In [48]:
df_sample_test = replace_tweets_with_index(df_sample)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [49]:
df_sample_test.tweet_text

tweetid
1000293959669821440      210
1000897770969096192     8232
1000773724130435073      851
1000004737947852803       96
1000625435238125568      653
1001262936164392960     4124
1001010534756601856     9834
1000612102652952577     3571
1000464129243668482     4960
1001560511694233605     2803
1000401617223671814     4139
1000767866977898496     5639
1000975339756163072     9743
1001390676645437440    10463
1001276109407899648    10463
1000916013469327362     9271
1000881788653330432     2842
1000494453965164544     5397
1001356783011557376      897
1000541180818591746     5901
1000882562934497282     8856
1000868540109467648     8688
1001102711008395272    10441
1000992220676227072     3704
1000848118617960448     8415
Name: tweet_text, dtype: int64

## STUCK HERE

This is working when we apply it to a local df. 

It seems to stop working when we pass it to map_partitions(), even though each partition is a df.

Worker logs are saying "inputs contain futures that were created by another client." Waiting for feedback from Coiled Slack. Let's see...

In [51]:
# map function to all partitions: ddf_tweets_replaced
ddf_tweets_replaced = ddf.map_partitions(replace_tweets_with_index, meta=ddf).persist()

In [ ]:
ddf_tweets

In [33]:
# def replace_tweet_with_index(tweet):
#     tweet = ddf_tweettexts[ddf_tweettexts.tweet_text == tweet].compute().index.values.astype(int)[0]
#     return tweet

In [36]:
# # define function to pass to map_partitions
# def replace_tweet_column_with_index(df):
#     df.tweet_text = df.tweet_text.apply(replace_tweet_with_index, meta=df)
#     return df

In [17]:
ddf2 = ddf.copy().persist()

In [20]:
# map function to all partitions: ddf_tweets_replaced
ddf_tweets_replaced = ddf2.map_partitions(replace_tweet_column_with_index, meta=ddf2).persist()

In [70]:
ddf_tweets_replaced.head()

TypeError: TLS expects a `ssl_context` argument of type ssl.SSLContext (perhaps check your TLS configuration?)  Instead got None

## NEXT STEPS

1. ~~Save series to s3~~
2. How to replace tweet_text bodies in full table with index of original tweets?
3. Done with wrangling, proceed to EDA.

## Further Inspecting Tweet_Text Column

I want to get a sense of how 'clean' the column tweet_text is. Does it include only tweet bodies or do we have many shifted cells here, too?

In [ ]:
df0 = ddf.partitions[0].compute()

In [ ]:
df0.tweet_text

That's a lot of re-tweets. Let's see how many.

In [ ]:
df0.tweet_text.str.startswith("RT").count()

All of the tweets in this partition are retweets.

That's:
- interesting. Will we want to include retweets or not?
- good, because it means all of the tweet_text fields in this partition contain what they should: tweet text

In [ ]:
# let's check partition 10 which has at least 1 faulty userid, i.e. is shifted
df10 = ddf.partitions[10].compute()

In [ ]:
df10.tweet_text

The first entry of partition 10 is shifted > tweet_text has the value 0 instead of the tweet body. Let's take a closer look at the row to see what's happening here.

In [ ]:
df10.iloc[0]

Let's find a partition that doesn't contain only retweets.

In [ ]:
# get partition 1 and store as pandas df
df1 = ddf.partitions[1].compute()

In [ ]:
# get tweet_text column
df1.tweet_text

In [ ]:
# check if we have any non-retweets
df1.is_retweet.str.contains('false').sum()

In [ ]:
# get non-retweets
df1[df1.is_retweet == 'false']

In [ ]:
df1.iloc[0:3]

Hmm. We also have some entries for which userid is "None" instead of the date. The tweet_text seems to still be in the 'tweetid' though.

OK, so technically we could:

1. move the tweet text from the tweetid to tweet_text
2. maintain tweet_time (move from userid to tweet_time)
3. proceed without userid, tweetid, is_retweet, tweet_language, a.o.

Let's do it that way and then
- get is_retweet from presence of RT at beginning of tweet text

## Inspecting Retweets

Let's see how many of these tweets are re-tweets.

Since the is_retweet column contains some faulty (shifted) data, it's not a bool data types, but string. So let's check how many .contains('True')

In [ ]:
%%time
# check how many is_retweet entries contain 'True'
num_retweets = ddf.is_retweet.str.contains('true').sum().compute()

In [ ]:
%%time
num_nonretweets = ddf.is_retweet.str.contains('false').sum().compute()

In [ ]:
ddf_length = ddf.shape[0].compute()
ddf_length

In [ ]:
num_retweets / ddf_length * 100, num_nonretweets / ddf_length * 100

Wow.

- 33.1 mln re-tweets = ~90%
- 3.4 mln tweets = ~9.5%

That's going to be the first split of our data: tweets and re-tweets.

## Number of Unique Tweets

### Number of Unique Users

In [ ]:
ddf.columns

In [ ]:
# list number of unique users
unique_users = ddf.userid.unique().compute()

In [ ]:
# look at sample to see if we might have any other faulty imports
unique_users.sample(20)

There are 4480 unique users in this subset of the dataset. This is less than Twitter mentioned in their statement. This is because some users didn't actively Tweet and were therefore not included in this dataset.

### Number of Tweets per User

In [ ]:
%%time
# get number of tweets per userid
ddf.groupby(['userid']).tweetid.count().compute()

In [ ]:
%%time
# get average number of tweets per user id
ddf.groupby(['userid']).tweetid.count().mean().compute()

In [ ]:
%%time
# get top 10 max number of tweets per userid
tweets_per_user = ddf.groupby(['userid']).tweetid.count().compute()

In [ ]:
# sort tweet values descending and print out first 10
tweets_per_user.sort_values(inplace=True, ascending=False)
tweets_per_user.head(10)

In [ ]:
# print out bottom 10
tweets_per_user.tail(25)

We have a problem. Some tweets have the date in the user_id field.

## Inspecting Faulty User_IDs

Let's access the first partition (which is a pandas dataframe) so we can look at what's happening at row 410 (skipped because of unexpected end of data).

In [ ]:
%%time
df_0 = ddf.partitions[0].compute()

In [ ]:
df_0.shape

In [ ]:
df_0.iloc[409]

Nothing strange at index 408, 409, 410, 411, 412.

Let's check the last entries of the last partition.

In [ ]:
df_last = ddf.partitions[-1].compute()

In [ ]:
df_last.shape

In [ ]:
df_last.iloc[23212]

Nothing strange here, either.

Where are the rows with dates as userid?

In [ ]:
%%time
# let's try to find one of them
ddf[ddf.userid == "2017-07-18 06:01"].compute()

It looks like this is a shifted row. The tweet_text is in the tweetid column, the tweet_time in the userid, etc.

Let's check the first and last partitions. And a few in between.

In [ ]:
df_temp = ddf.partitions[9].compute()

In [ ]:
df_temp[df_temp.userid.str.startswith('20')]

The last partitions just yield an empty dataframe. Partitions 2,3,4,5 yield an error because the column contains NaN values.

Partition 9 yields one result. But this is no way to get through everything.

Other approach: write custom function that we'll pass to map_partitions to get userid's that start with '20'

In [ ]:
def get_faulty_ids(df):
    df_all = pd.DataFrame()
    try:
        df_faulty = df[df.userid.str.startswith('20')]
        return df_all.append(df_faulty)
    except:
        pass 
    return df_all

In [ ]:
%%time
# pass faulty_ids function to each partition
df_faultyrows = ddf.map_partitions(get_faulty_ids).compute()
df_faultyrows

In [ ]:
# export df_faultyrows to local csv
df_faultyrows.to_csv('/Users/richard/Desktop/springboard_repo/capstones/three/331_faulty_rows.csv')

Nice! That worked. 

Looking at the dates (which are in the userid column) they are from a bunch of different times.

There are 331 rows for which the row contents have shifted. 

Now, let's:
- remove rows with NaN in tweet_text field
- remove faulty rows

## Inspecting Tweet_Text Column to Remove Faulty Entries

The tweet_text column contains faulty entries that are:
- NaNs
- only digits (shifted rows due to faulty import)

## Drop NaNs from ddf

In [ ]:
%%time
# drop rows for which tweet_text is NaN
ddf = ddf.dropna(subset=['tweet_text']).persist()

In [ ]:
%%time
ddf.shape[0].compute()

In [ ]:
n_rows_all - 36523949

Dropping the rows with NaN in tweet_text still leaves us with >36.5mln tweets. We have dropped 438 rows.

Now let's see how many faulty rows are left:

In [ ]:
%%time
# pass faulty_ids function to each partition of ddf without NaN rows
df_faultyrows_noNANs = ddf.map_partitions(get_faulty_ids).compute()
df_faultyrows_noNANs

How is that possible?

The number of faulty rows changes (more than double) after removing the rows with NaNs in tweet_text.

That's because the get_faulty_ids function skipped partitions that had NaNs in the userid (it does a try/except).

So we should drop NaNs first.

## Inspecting Local .CSV

Let's read the first .csv file locally to see if we get the same problem with the shifted lines:

In [ ]:
df_local = pd.read_csv('/Users/richard/Desktop/datasets/twitter_transparency/sa_eg_ae_022020_tweets_csv_hashed_01.csv')

In [ ]:
df_local.head()

In [ ]:
df_local[df_local.userid.str.startswith('20')]

No. Not for the first csv file. Problem must be in a later file.

## Explore Removing Faulty Lines

Alternative: How many tweets would we be removing if we remove all users with faulty userids?

In [ ]:
# print out tweets per user
tweets_per_user.head(25)

In [ ]:
len(tweets_per_user)

In [ ]:
tweeted_once = tweets_per_user[tweets_per_user == 1]

In [ ]:
tweeted_once = pd.DataFrame(tweeted_once)

In [ ]:
tweeted_once.reset_index(inplace=True)
tweeted_once

In [ ]:
tweeted_once.userid.str.startswith('20').sum()

In [ ]:
# get total number of users with dates as userid
df_tweets_per_user = pd.DataFrame(tweets_per_user)
df_tweets_per_user.reset_index(inplace=True)
df_tweets_per_user.userid.str.startswith('20').sum()

In [ ]:
# check whether they are all dates
df_tweets_per_user[df_tweets_per_user.userid.str.startswith('20')]

There are 776 instances of dates as userids. This is 776 out of 35mln tweets = negligible.

We could proceed to remove these faulty rows.

BUT my gut feeling says we should find out what's actually going on here. I think it's something at the level of the original csv files. The same reason why we had to constrain import to the first 24 rows, because some entries were shifted.

Let's have a look at the tweet_text column, since this is our main source of data.